@charset "UTF-8";
/*
for ABUI Guideline Documentation Only
v1.0.6
----------------------------------------------------------------
*/

// Loading Compass
@import "compass";
// Loading config with variables (changing them leads to changing a color scheme)
@import "variables";
@import "mixins";



.warm-lighten {
	color: lighten($warm-6, 10%);
}

.col-inline--pr {
	@media (min-width: $grid-float-breakpoint) {
		// for pc
		padding-right: 6px !important;
	}
}
.col-inline--pl {
	@media (min-width: $grid-float-breakpoint) {
		// for pc
		padding-left: 6px !important;
	}
}




.color-tip {
	width: 100%;
	@include border-radius($border-radius-base);
  padding: 11px 16px;
  color: $inverse;
  font-weight: bold;
  .rgbnum {
  	display: block;
  	font-size: ceil($component-font-size-base*0.928);
  }
}



// sidebarandnavbar
.layout-pattern {
	cursor: pointer;
	&:hover,
	&.active {
		table {
			border-color: $brand-primary;
		}
		.layout-caption {
			color: $brand-primary;
		}
	}
	table {
		width: 100%;
		height: 320px;
		border-collapse: collapse;
		border: 2px solid white;
		th,td {
			background: $gray-subtler;
			padding: 8px;
			vertical-align: top;
			font-size: 90%;
			span {
				display: block;
				@include opacity(.5);
			}
		}
		th {
			border-right: 2px solid white;
		}
		td:not(.layout-wrapper) {
			border-bottom: 2px solid white;
		}
		.layout-sidebar {
			background: $gray-lighter;
			width: 30%;
			color: white;
		}
		.fixed {
			background: $gray-lighter;
			color: white;
		}
		.navbar-bs {
			height: 64px;
		}
		.navbar-lg {
			height: 88px;
		}
		.class {
			font-size: 80%;
			display: inline-block;
			line-height: 1.4;
		}
		td .class {
			padding-left: 4px;
		}
	}
	.layout-caption {
		font-size: 90%;
		color: $gray-light;
		text-align: center;
		padding: 12px 0 24px;
	}
}
.navbar#header-site {
	z-index: 1040;
}
.navbar,
.navbar.navbar-inverse {
	.navbar-text {
		&.navbar-logininfo {
			cursor: pointer;
			&:hover {
				@include opacity(.8);
			}
		}
		span.username {
			border-right: none;
			padding-right: 0;
			margin-right: $s;
		}
		.usericon {
			display: inline-block;
			width: 24px;
			height: 24px;
			background-color: $gray-lighter;
			@include border-radius(50%);
			margin: -10px 0;
			position: relative;
			top: 1px;
			text-align: center;
			&:before {
				font-family: 'ABUI-icons';
				display: block;
				content: "\e008";
				font-size: 16px;
				width: 24px;
				height: 16px;
				margin-top: 3px;
				color: $gray-light;
				-webkit-font-smoothing: antialiased;
			  -moz-osx-font-smoothing: grayscale;
			}
		}
	}
}
.navbar-inverse .navbar-nav > .open.navbar-userinfo {
	 > a,
	 > a:hover,
	 > a:focus {
	 	background-color: transparent;
	 }
}
.nav {
	.datetime {
		display: block;
		padding: 18px 4px 12px;
		font-size: ceil($font-size-base * 0.75);
		line-height: 1;
		color: mix($navbar-inverse-bg, white, 32%);
	}
	.navbar-userinfo {
		a {
			padding: 12px 9px 12px 12px;
			font-size: ceil($font-size-base * 0.75);
			line-height: 20px;
			.username {
				color: white;
			}
			.usericon {
				display: inline-block;
				width: 24px;
				height: 24px;
				background-color: $gray-lighter;
				@include border-radius(50%);
				margin: -2px 0 0 $s;
				position: relative;
				top: 2px;
				text-align: center;
				&:before {
					font-family: 'ABUI-icons';
					display: block;
					content: "\e008";
					font-size: 16px;
					width: 24px;
					height: 16px;
					margin-top: 1px;
					color: $gray-light;
					-webkit-font-smoothing: antialiased;
				  -moz-osx-font-smoothing: grayscale;
				}
			}
		}
	}
}

.section {
	.section-title {
		font-size: ceil($font-size-base * 1.5);
	}
	.section-subtitle {
		color: $gray;
		margin-top: $l*2;
	}
	&:first-child {
		border-top: 1px solid $gray-subtle;
	}
	&:last-child {
		border-bottom: none;
	}
}


// lead
#lead--astroblaster {
	padding-top: $l*4;
	padding-bottom: $l*3;
	@media (max-width: $screen-xs-max) {
		padding-top: $l*3;
	}
	.logotype--astroblaster {
		width: 100%;
		height: auto;
	}
	.lead--title {
		display: block;
		margin-top: $m;
		text-align: center;
		font-size: ceil($font-size-base * 1.25);
		color: $gray-light;
		line-height: 1.4;
	}
	.lead--text {
		padding-top: $l+$l;
		p {
			// font-size: ceil($font-size-base * 0.875);
			color: $gray-light;
		}
	}
}


// graphchart
$color-tip-height: $m*2;
.color--tip {
	display: block;
	height: $color-tip-height;
	text-align: center;
	font-size: 75%;
	line-height: $color-tip-height;
	position: relative;
	left:$m;
	&.text-inverse {
		color: white;
	}
	@media (max-width: $screen-xs-max) {
		// font-size: 50%;
	}
}
.color--palette {
	.col-xs-1, .col-sm-1, .col-md-1 {
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.row {
		padding-right: 24px;
	}
}

.color--cool {
	.color1 {
		background-color: $cool-1;
	}
	.color2 {
		background-color: $cool-2;
	}
	.color3 {
		background-color: $cool-3;
	}
	.color4 {
		background-color: $cool-4;
	}
	.color5 {
		background-color: $cool-5;
	}
	.color6 {
		background-color: $cool-6;
	}
	.color7 {
		background-color: $cool-7;
	}
	.color8 {
		background-color: $cool-8;
	}
	.color9 {
		background-color: $cool-9;
	}
	.color10 {
		background-color: $cool-10;
	}
	.color11 {
		background-color: $cool-11;
	}
	.color12 {
		background-color: $cool-12;
	}
}
.color--warm {
	.color1 {
		background-color: $warm-1;
	}
	.color2 {
		background-color: $warm-2;
	}
	.color3 {
		background-color: $warm-3;
	}
	.color4 {
		background-color: $warm-4;
	}
	.color5 {
		background-color: $warm-5;
	}
	.color6 {
		background-color: $warm-6;
	}
	.color7 {
		background-color: $warm-7;
	}
	.color8 {
		background-color: $warm-8;
	}
	.color9 {
		background-color: $warm-9;
	}
	.color10 {
		background-color: $warm-10;
	}
	.color11 {
		background-color: $warm-11;
	}
	.color12 {
		background-color: $warm-12;
	}
}
.color--neon {
	.color1 {
		background-color: $neon-1;
	}
	.color2 {
		background-color: $neon-2;
	}
	.color3 {
		background-color: $neon-3;
	}
	.color4 {
		background-color: $neon-4;
	}
	.color5 {
		background-color: $neon-5;
	}
	.color6 {
		background-color: $neon-6;
	}
	.color7 {
		background-color: $neon-7;
	}
	.color8 {
		background-color: $neon-8;
	}
	.color9 {
		background-color: $neon-9;
	}
	.color10 {
		background-color: $neon-10;
	}
	.color11 {
		background-color: $neon-11;
	}
	.color12 {
		background-color: $neon-12;
	}
}

.graphchart--example {
	text-align: center;
	canvas {
	}
}


//slider
.ui-slider-horizontal {
  .ui-slider-handle {
    top:-9px;
  }
}
.ui-slider-vertical {
  .ui-slider-handle {
    left: -0.145em;
  }
}
//tooltip
.demo-tooltips {
  position:relative;
	// @media (min-width: $screen-sm-min) {
	// 	left:75%;
	// }
	.tooltip {
		z-index: 1020;
		left: 0% !important;
		margin-left: 0px !important;
		// width: 100%;
		&.bottom {
			// @media (max-width: $screen-xs-max) {
			// 	top: -56px !important;
		  //   left: -24px !important;
			// }
		}
		&.top {
			// @media (max-width: $screen-xs-max) {
			// 	top: 0px !important;
		  //   left: -24px !important;
			// }
		}
		&.right {
			// @media (max-width: $screen-xs-max) {
			// 	top: 56px !important;
		  //   left: -32px !important;
			// }
		}
		&.left {
			// @media (max-width: $screen-xs-max) {
			// 	top: 105px !important;
	    // 	left: -26px !important;
			// }
		}
		.tooltip-arrow {
			left: 50% !important;
		}
	}
}

//icon
.abridged--icons {
	font-size: ceil($font-size-base * 2);
	[class^="icon-abui-"] {
		display: inline-block;
		margin-right: $x;
	}
}
//modal
.modal-open{
  // .wrapper {
  //   -webkit-filter: blur(8px);
  // }
}
//検索&結果
.demo-container {
  // border: 1px solid $gray-subtler;
  @include box-shadow(rgba($gray-dark, 0.3) 0 4px 16px);
}
//カレンダー
.ui-datepicker {
	z-index: 510 !important;
}

.dodont {
	display: inline-block;
	width: 6em;
	padding-right: $l*2;
	font-size: 20px;
	font-weight: bold;
}
.my-gallery {
	text-align: center;
	figure {
		display: inline-block;
	}
}



.pic--screenshot {
	width: 75%;
	height: auto;
	border: 1px solid #dbe0e3;
	margin-bottom: $m;
}
.pic-wide {
	@media (max-width: $screen-xs-max) {
		width: 100%;
	}
}


// スライダー入力
.slider--step {
	margin-top: 16px;
	@media (max-width: $screen-xs-max) {
		margin-top: 0;
		margin-left: $m;
		margin-right: $m;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		position: relative;
		li {
			height: 2px;
			float: left;
		}
		&.slider--stepdot {
			height: 2px;
			top: 23px;
			z-index: 1;
			li {
				width: 8.333%;
				&:first-child {
					margin-left: 8.333%;
				}
				&:after {
					display: block;
					content: "";
					width: 2px;
					height: 2px;
					@include border-radius(50%);
					background-color: $gray-light;
				}
				&.zero {
					&:after {
						background-color: white;
					}
				}
			}
		}
		&.slider--stepnum {
			height: 12px;
			top:8px;
			li {
				text-align: center;
				width: 16.666%;
				font-size: ceil($font-size-base * 0.6875);
				color: $gray-light;
				position: relative;
				left: -8.33%;
			}
		}
	}
}


// リストメーカー
.table-listmaker {
	&.table-striped > tbody {
		> tr:nth-child(odd) {
			&.selected {
				td {
					background-color: mix($brand-primary, white, 100%);
					color: white;
				}
			}
		}
	}
	tr {
		&.selected {
			td {
				background-color: mix($brand-primary, white, 100%);
				color: white;
				a {
				color: mix($brand-primary, white, 50%);
				}
				&.sort-control {
					a.active {
						color: white;
					}
				}
			}
		}
	}
	td {
		height: 46px;
		&.sort-control {
			padding-left: $s;
			width: 32px;
			a {
				display: block;
				height: 19px;
				padding-top: 3px;
				text-align: center;
				color: $gray-light;
				font-size: ceil($font-size-base * 0.75);
				&:hover {
					color: $btn-primary-hover-bg;
				}
				&.active {
					color: $brand-primary;
				}
			}
		}
	}
}
.listmaker__tgt--control {
	@include clearfix();
	margin-bottom: $x;
	.btn-delall {
		float: right;
	}
}


// ドリルダウン
.drilldown-box-wrap {
	width: 100%;
	overflow: auto;
}
.drilldown-box {
	width: 252px *3; // ダミー対応 	jQueryで子要素.table-drilldown-wrap数をカウントして幅決める
	height: 320px;
	margin: 0;
	padding: 0;
	&.drilldown-box-w5 {
		width: 252px *5; // ダミー対応 	jQueryで子要素.table-drilldown-wrap数をカウントして幅決める
	}
}
.table-drilldown-wrap {
	width: 240px;
	display: block;
	float: left;
	margin-right: $m;
	.slimScrollDiv {
		background-color: mix($gray-subtler, white, 90%);
	}
}
.table-drilldown {
	@extend .table-listmaker;
	.btn-flat-default {
		&:hover {
			color: $brand-primary;
		}
	}
	tr {
		&.selected {
			background-color: mix($brand-primary, white, 100%);
			color: white;
			&:hover,
			&:active,
			&:focus {
				color: $gray-dark;
			}
		}
	}
}

.drilldown-list--wrap {
	background-color: mix($brand-primary, white, 10%);
	@include border-radius($border-radius-base);
	padding: $m;
	padding-top: 0;
	margin-bottom: $l;
	.js-btn--deldriildownlistitem {
		margin-top: $m;
	}
}
.drilldown-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: $m;
	li {
		display: inline-block;
		font-size: ceil($font-size-base * 0.875);
		padding: $s 0;
		margin-right: $s;
		line-height: 1;
		cursor: pointer;
		&:after {
			content: "、";
			display: inline;
		}
		&:hover {
			padding: $s;
			background-color: mix($brand-danger, white, 15%);
			@include border-radius($border-radius-base);
			@include transition(0.25s);
			.icon {
				display: inline-block;
			}
			&:after {
				display: none;
			}
		}
		.icon {
			display: none;
			color: $brand-danger;
			font-size: ceil($font-size-base * 0.8125);
			margin-left: $s;
		}
	}
}


// テーブルツリー
.add--record1--wrap {
	position: relative;
	border-right: 1px solid $gray-lighter;
}
.table--menu1--wrap {
	min-height: 100%;
	padding-right: $l;
	border-right: 1px solid $gray-lighter;
}

.table--menu1 {
	// border-right: 1px solid $gray-lighter;
	&.table-striped > tbody {
		> tr:nth-child(odd) {
			&.selected {
				td {
					background-color: mix($brand-primary, white, 100%);
					color: white;
				}
			}
			> th, > td {
				&:last-child {
					// background-color: transparent;
					// border:none;
				}
			}
		}
	}
	&.table-hover > tbody > tr:hover > td,
	&.table-hover.table-striped > tbody > tr:hover > td {
    &:last-child {
    	// background-color: transparent;
    }
	}
	// th, td {
	// 	&:last-child {
	// 		background-color: transparent;
	// 		border:none;
	// 	}
	// 	&:nth-last-child(2) {
	// 		border-right: none;
	// 	}
	// }
	tr {
		cursor: pointer;
	}
	tr.selected {
		position: relative;
		td {
			background-color: mix($brand-primary, white, 100%);
			color: white;
			&:last-child {
				position: relative;
				// background-color: transparent;
				// &:before {
				// 	content: "";
				// 	position: absolute;
			 //    width: 0;
			 //    height: 0;
			 //    border-color: transparent;
			 //    border-style: solid;
			 //    top: 50%;
			 //    border-right-color: $gray-lighter;
			 //    border-width: 8px 10px 8px 0;
			 //    margin-top: -8px;
			 //    right: 0px;
				// }
				// &:after {
				// 	content: "";
				// 	position: absolute;
			 //    width: 0;
			 //    height: 0;
			 //    border-color: transparent;
			 //    border-style: solid;
			 //    top: 50%;
			 //    border-right-color: white;
			 //    border-width: 8px 10px 8px 0;
			 //    margin-top: -8px;
			 //    right: -2px;
				// }
			}
		}
	}
}
.menu--arrow {
	content: "";
	position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  // top: 50%;
  border-right-color: $gray-lighter;
  border-width: 8px 10px 8px 0;
  margin-top: -8px;
  right: 0px;

  &:after {
		content: "";
		position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    // top: 50%;
    border-right-color: white;
    border-width: 8px 10px 8px 0;
    margin-top: -8px;
    right: -12px;
	}
}

.table--menu2 {
	tr {
		cursor: pointer;
	}
}

.table-tree {
	ul {
		padding-left: 0px;
	}
	ul, li {
		list-style: none;
	}
	li {
		cursor: pointer;
		//addRowのみ別定義
		&.selected {
			// background-color: mix($brand-primary, white, 100%) !important;
			background-color: mix($brand-primary, white, 40%) !important;
			//追加ボタン
			span {
				color: white;
			}
		}


	}

	.anchor {
		padding: 8px;
		font-size: 14px;
		text-decoration: none;
		&:not(.btn):hover {
			background-color: #eaf7fe;
		}
		a {
			color: #02a4f5;
			-webkit-transition: 0.25s;
			-moz-transition: 0.25s;
			-o-transition: 0.25s;
			transition: 0.25s;
			&:hover {
				color: #2db8fd;
			}
		}

		input {
			margin: -4px -4px -4px 4px;
		}

		&.selected {
			// background-color: mix($brand-primary, white, 100%) !important;
			background-color: mix($brand-primary, white, 40%) !important;
			a {
				color: white;
			}
		}
	}

	//jsで付与
	.bg-odd {
		background-color: #f4f6f6;
		&:hover {
			background-color: #eaf7fe;
		}
	}
	.bg-even {
		background-color: #fff;
		&:hover {
			background-color: #eaf7fe;
		}
	}
}

// div {
//  &[id^="abui-"] {
//  	border-bottom: 1px solid $gray-subtle;
// 	}
// }

.example-float-thead {
	width: auto;
	min-width :0px !important;
	@media (min-width: $screen-sm-min) {
		width: 100%;
	}
}

.table--sortable {
	tr {
		cursor: move;
	}
	td.sortable--handle {
		padding:  $x;
		&:after {
			display: inline-block;
			content: "\e235";
			font-family: 'ABUI-icons';
			font-size: ceil($component-font-size-base*0.785);
			color: $gray-lighter;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}

.fix-mt144 {
	@media (max-width: $screen-xs-max) {
		margin-top: 144px;
	}
}

// ログイン
.login-wrap {
	background-color: #02a4f5;
  width: 100%;
  min-width: 0;
  min-height: 480px;
  display: table;
  @include border-radius($border-radius-base);
  position: relative;
  padding: $l*2 0;
}

// image-thumbnail only guideline
#abui-photo-zoom {
	.image {
		&__thumbnail {
			vertical-align: top;
			width: percentage(234/718);
			margin-right: percentage(8/718);
			@media (min-width:$screen-md-min) {
				width: 234px;
				margin-right: 8px;
			}
		}
	}
}
