@charset "UTF-8";
/*
for Dashboard
v1.0.6
----------------------------------------------------------------
htmlの<head> ~ </head>内で読み込んでください
*/

// Loading Compass
@import "compass";

// Loading config with variables
@import "variables";

// Loading Utility mixins
@import "mixins";





$image-path: $image-path + "dashboard/";

// Layout

$breakpoint-wide : 1366px; // wide PC monitor
$screen-adjustment : $screen-lg-min + $sidebar-width - $breakpoint-wide;


.dsbd-wdgt--wrap {
	width: 100%!important;
	position: relative;
	.dsbd-wdgt-sizer,
	.dsbd-wdgt {
		width: 25%;
		padding: 0 $s $l;
		// for desktop (幅1200px未満) に適用
		@media (max-width: $screen-md-max) {
			width: 33%;
		}
		// for tablet (幅992px未満) に適用
		@media (max-width: $screen-sm-max) {
			width: 50%;
		}
		// for phone (幅768px未満) に適用
		@media (max-width: $screen-xs-max) {
			width: 100%;
			padding-bottom: $s;
			padding-left: 0;
			padding-right: 0;
		}
		&.wx2 {
			width: 50%;
			// for desktop (幅1200px未満) に適用
			@media (max-width: $screen-md-max) {
				width: 66%;
			}
			// for tablet (幅992px未満) に適用
			@media (max-width: $screen-sm-max) {
				width: 100%;
			}
		}
		&.wx3 {
			width: 75%;
			// for desktop (幅1200px未満) に適用
			@media (max-width: $screen-md-max) {
				width: 100%;
			}
			// for tablet (幅992px未満) に適用
			@media (max-width: $screen-sm-max) {
				width: 100%;
			}
		}
		.sheet {
			margin: 0;
			padding: 0;
			.dsbd-wdgt--head {
				height: 40px;
				font-size: ceil($font-size-base * 0.875);
				color: $gray;
				line-height: 40px;
				padding: 0 $m;
				background-color: mix($gray-subtler, white, 25%);
				border-bottom: 1px solid $gray-subtle;
				position: relative;
				&.dsbd-wdgt--expand {
					cursor: pointer;
					// background-color: white;
					&:after {
						content: "\e096";
						display: block;
						position: absolute;
						top: 0;
						right: 14px;
						font-family: 'ABUI-icons';
						color: $gray-light;
						font-size: ceil($font-size-base * 0.75);
						-webkit-font-smoothing: antialiased;
					  -moz-osx-font-smoothing: grayscale;
					}
					&:hover {
						color: $link-hover-color;
						&:after {
							color: $link-hover-color;
						}
					}
				}
				.btn--dsbd--head--expand {
					color: $gray-light;
					font-size: ceil($font-size-base * 0.75);
					position: absolute;
					right: 0;
					top: 4px;
					right: 6px;
					padding:0;
					height: 32px;
					width: 28px;
					> [class^="icon-"],
					> [class*=" icon-"] {
						display: block;
						position: absolute;
						top: 10px;
				    right: 7px;
					}
				}
			}
			.wdgt--subhead {
				height: auto;
				color: $gray-lighter;
				font-size: ceil($font-size-base * 0.75);
				padding: 5px $m;
				border-bottom: 1px solid $gray-subtle;
				@include clearfix();
				.wdgt--subhead--left {
					float: left;
				}
				.wdgt--subhead--right {
					float: right;
					position: relative;
				}
				.btn--dsbd--subhead--reload {
					padding: 0 1px 0 1px;
					// margin-left: $x;
					color: $gray-lighter;
					width: 28px;
					height: 24px;
					position: relative;
					margin-top: -4px;
					margin-bottom: -3px;
					right: -6px;
					> [class^="icon-"],
					> [class*=" icon-"]  {
						display: block;
				    position: absolute;
				    top: 4px;
				    right: 7px;
					}
				}
			}
			.dsbd-wdgt--body {
				padding: $m;
				.wdgt--body--head {
					position: relative;
					@include clearfix();
					.btn--switcher {
						float: right;
						margin-bottom: $x;
						.btn {
							@include button-variant($gray-lighter, transparent, $gray-subtler, $gray-lighter, $gray-subtle);
							border: 1px solid $gray-subtle;
							&.active {
								color: $inverse;
							}
						}
					}
				}
				// .wdgt-subtitle {
				// 	color: $gray;
				// 	font-size: ceil($font-size-base * 0.8125);
				// 	margin-bottom: 2px;
				// }
				table {
					> thead,
				  > tbody,
				  > tfoot {
				  	> tr,
				  	> tr:nth-child(odd) {
				      > th {
				      	background-color: white;
				      	border-bottom: 1px solid $gray-subtler;
				      	color: $gray-lighter;
				      }
				     }

				  }


				}
			}
		}
	}
}


body {
	position: absolute;
	top: 0;
	width: 100%;
}

.sidebar-stored {
	position: fixed;
	top: 0;
	background: $sidebar-bg;
	width: 40px;
	height: 100%;
	.sidebar-toggle {
		line-height: 1;
	}
	// for phone (幅780px未満) に適用
	@media (max-width: $screen-xs-max) {
		background: none;
		height: 40px;
		z-index: 1040;
		bottom: 8px;
		left:4px;
		top: auto;
		background-color: rgba($sidebar-bg, .75);
		@include border-radius($border-radius-base);
		.sidebar-toggle:before {
			color: white;
		}
	}
}
.sidebar-toggle--db {
	padding: 0 10px;
	height: 100%;
}

// Header
#header-content,
.wrapper,
#footer-related {
	@media (max-width: $screen-lg-min + $sidebar-width - $screen-adjustment - 1px) {
		margin-left: 40px;
	}
	// for phone (幅780px未満) に適用
	@media (max-width: $screen-xs-max) {
		margin-left: 0;
	}
}

#header-content {
	background: white;
	border-bottom: 1px solid $gray-subtler;
	@media (max-width: $screen-xs-max) {
		border-bottom: 1px solid $gray-subtler;
	}
	&.navbar--wdgt {
		background: $gray-subtle;
	}
	.btn-back {
		z-index: 2;
		display: block;
		position: absolute;
		padding-left: $l;
		width: 48px;
		font-size: floor($font-size-base * 1.25);
		color: $gray;
		@include opacity(.5);
		&:hover {
			@include opacity(.7);
		}
		.icon {
			display: block;
			height: $navbar-height-large;
			padding-top: 20px;
		}
	}
	h1.navbar-title {
		color: $gray-dark;
		margin-left: 0;
		position: relative;
		&.with-title-back {
			padding-left: 48px;
		}
		.navbar-title-separator {
			padding: 0 $s;
		}
	}
	&.header-wdgt {
		background-color: $navbar-default-bg;
		border-bottom: none;
	}
}
.navbar-toggle {
	.switchtime--selected {
		display: none;
		// for phone (幅780px未満) に適用
		@media (max-width: $screen-xs-max) {
			display: block;
		}
	}
	&:before {
		display: none;
	}
}
h1.navbar-title {
	font-size: floor($font-size-base * 1.25);
}
.navbar-title-back {
	position: absolute;
	left: $l;
	font-size: 24px;
	line-height: $navbar-height-large;
	color: $gray-lighter;
}
.navbar--title--code {
	display: inline-block;
	padding-left: $l;
	font-size: 80%;
	color: $gray-light
}
.navbar--switchtime {
	padding-right: $l;
	// for phone (幅780px未満) に適用
	@media (max-width: $screen-xs-max) {
		padding-right: 0;
	}
}

// .with-navbar-fixed-top-lg {
// 	margin-top: $navbar-height-large;
// }

$dsbd-tab-height: 48px;
.dsbd-tab {
	position: fixed;
	z-index: 1030;
	top: $navbar-height-large;
	@media (max-width: $screen-lg-min + $sidebar-width - $screen-adjustment - 1px) {
		margin-left: 40px;
	}
	@media (min-width: $screen-lg-min + $sidebar-width - $screen-adjustment ) {
		margin-left: $sidebar-width;
	}
	@media (max-width: $screen-xs-max) {
		display: none;
	}
	ul {
		&.nav-tabs,
		&.nav-tabs.nav-justified {
			margin-bottom: 0;
			> li {
				> a {
					@include border-radius(0);
					height:$dsbd-tab-height;
					margin-right: 0;
					background-color: $nab-tabs-bg;
					border-bottom-color: $nab-tabs-bg;
					color: $gray-light;
					padding-top: 15px;
					&:hover {
						border-bottom-color: mix($nab-tabs-bg, white, 90%);
						background-color: mix($nab-tabs-bg, white, 90%);
						color: $brand-primary;
					}
				}
				&.active {
					&:after {
						border-bottom-color: $gray-subtler;
					}
					a {
						color: $link-color;
						border-bottom-color: mix($nab-tabs-active-bg, white, 88%);
						background-color: mix($nab-tabs-active-bg, white, 88%);
					}
				}
			}
		}
	}
}

.container-dsbd {
	padding: $l $s 0;
	// for phone (幅780px未満) に適用
	// height: 768px - $navbar-height-large - 20px;
	@media (max-width: $screen-xs-max) {
		padding: $s;
		height: auto;
	}
	> .row,
	> .tab-content .tab-pane > .row,
	> .dsbd-wdgt .row,
	.wdgt--control > .row {
		margin-left: -$s;
		margin-right: -$s;
		> [class^="col-"],
		> [class*=" col-"] {
			padding-right: $s;
    	padding-left: $s;
    	.row {
				margin-left: -$s;
				margin-right: -$s;
				[class^="col-"],
				[class*=" col-"] {
					padding-right: $s;
		    	padding-left: $s;
				}
			}
		}
	}
	.tab-content {
		padding-top: $dsbd-tab-height;
		@media (max-width: $screen-xs-max) {
			padding-top: 0;
		}
	}

}
.container-wdgt {
	padding-bottom: 48px;
	padding-left: $l;
	padding-right: $l;
}


// wdgt

.dsbd-wdgt {
	padding-bottom: $l;
	@media (max-width: $screen-xs-max) {
		padding-bottom: $s;
	}
	.sheet {
		margin: 0;
		padding: 0;
		.dsbd-wdgt--head {
			height: 40px;
			font-size: ceil($font-size-base * 0.875);
			color: $gray;
			line-height: 40px;
			padding: 0 $m;
			background-color: mix($gray-subtler, white, 25%);
			border-bottom: 1px solid $gray-subtle;
			position: relative;
			&.dsbd-wdgt--expand {
				cursor: pointer;
				// background-color: white;
				&:after {
					content: "\e096";
					display: block;
					position: absolute;
					top: 0;
					right: 14px;
					font-family: 'ABUI-icons';
					color: $gray-light;
					font-size: ceil($font-size-base * 0.75);
					-webkit-font-smoothing: antialiased;
				  -moz-osx-font-smoothing: grayscale;
				}
				&:hover {
					color: $link-hover-color;
					&:after {
						color: $link-hover-color;
					}
				}
			}
			.btn--dsbd--head--expand {
				color: $gray-light;
				font-size: ceil($font-size-base * 0.75);
				position: absolute;
				right: 0;
				top: 4px;
				right: 6px;
				padding:0;
				height: 32px;
				width: 28px;
				> [class^="icon-"],
				> [class*=" icon-"] {
					display: block;
					position: absolute;
					top: 10px;
			    right: 7px;
				}
			}
		}
		.wdgt--subhead {
			height: auto;
			color: $gray-lighter;
			font-size: ceil($font-size-base * 0.75);
			padding: 5px $m;
			border-bottom: 1px solid $gray-subtle;
			@include clearfix();
			.wdgt--subhead--left {
				float: left;
			}
			.wdgt--subhead--right {
				float: right;
				position: relative;
			}
			.btn--dsbd--subhead--reload {
				padding: 0 1px 0 1px;
				// margin-left: $x;
				color: $gray-lighter;
				width: 28px;
				height: 24px;
				position: relative;
				margin-top: -4px;
				margin-bottom: -3px;
				right: -6px;
				> [class^="icon-"],
				> [class*=" icon-"]  {
					display: block;
			    position: absolute;
			    top: 4px;
			    right: 7px;
				}
			}
		}
		.dsbd-wdgt--body {
			padding: $m;
			.wdgt--body--head {
				position: relative;
				@include clearfix();
				.btn--switcher {
					float: right;
					margin-bottom: $x;
					.btn {
						@include button-variant($gray-lighter, transparent, $gray-subtler, $gray-lighter, $gray-subtle);
						border: 1px solid $gray-subtle;
						&.active {
							color: $inverse;
						}
					}
				}
			}
			// .wdgt-subtitle {
			// 	color: $gray;
			// 	font-size: ceil($font-size-base * 0.8125);
			// 	margin-bottom: 2px;
			// }
		}
	}
}
table.table--wdgt,
table.table--wdgt.table-hover {
	> thead,
  > tbody,
  > tfoot {
  	> tr,
  	> tr:nth-child(odd) {
      > th {
      	background-color: white;
      	border-bottom: 1px solid $gray-subtler;
      	color: $gray-lighter;
      	&:hover {
      		background-color: white;
      	}
      	&.table-sort {
      		.dsc:after,
      		.asc:after {
      			color: $gray-subtle;
      		}
      		&.text-right {
      			.dsc:after,
	      		.asc:after {
	      			margin-right: 6px;
	      		}
      		}
      		&.table-sort-active {
      			font-weight: bold;
      			.dsc:after,
	      		.asc:after {
	      			color: $gray-light;
	      		}

      		}
      	}
      }
     }
  }
}
.wdgt--time {
	padding-top: 20px;
	padding-right: $l;
	color: $gray-light;
}
.wdgt--body {
	padding: $m;
}
.wdgt--body--head {
	position: relative;
	@include clearfix();
	.btn--switcher {
		float: right;
		margin-bottom: $x;
		.btn {
			@include button-variant($gray-lighter, transparent, $gray-subtler, $gray-lighter, $gray-subtle);
			border: 1px solid $gray-subtle;
			&.active {
				color: $inverse;
			}
		}
	}
}
.wdgt-subtitle {
	color: $gray;
	font-size: ceil($font-size-base * 0.8125);
	margin-bottom: 2px;
}
.wdgt-heading {
	color: $gray;
	font-size: ceil($font-size-base * 0.8125);
	margin-bottom: 2px;
	font-weight: bold;
	a {
		color: $gray;
	}
}
.dsbd--label {
	font-size: ceil($font-size-base * 0.625);
	color: $gray-lighter;
	line-height: 1.5;
}

.wdgt--control {
	padding: $m $m 0;
	border-bottom: 1px solid $gray-subtle;
}

.wdgt-list {
	border-bottom: 1px solid $gray-subtle;
	&:last-child {
		border-bottom: none;
	}
}

// Basic Chart

.dsbd--valuenum {
	font-size: ceil($font-size-base * 1.6);
	line-height: 1;
	.unit {
		font-size: 75%;
		padding-left: $x/2;
		line-height: 1.2;
	}
	&.valuenum-hg {
		font-size: ceil($font-size-base * 3);
		.unit {
			font-size: 50%;
		}
	}
	&.valuenum-lg {
		font-size: ceil($font-size-base * 2);
		.unit {
			font-size: 64%;
		}
	}
	&.valuenum-sm {
		font-size: ceil($font-size-base * 1);
		.unit {
			font-size: 100%;
		}
	}
}
.dsbd--chart--gauge {
	width: 80px;
	height: 40px;
	background-image: url($image-path + "dummy-chart/dummy_gauge_void.png");
	background-size: 80px;
	background-repeat: no-repeat;
	margin: 0 auto;
	&.gauge-hg {
		width: 160px;
		height: 80px;
		background-size: 160px;
	}
	&.gauge-lg {
		width: 128px;
		height: 64px;
		background-size: 128px;
	}
	&.gauge-sm {
		width: 64px;
		height: 32px;
		background-size: 64px;
	}
	&.gauge--good {
		background-image: url($image-path + "dummy-chart/dummy_gauge_good.png");
	}
	&.gauge--warning {
		background-image: url($image-path + "dummy-chart/dummy_gauge_warning.png");
	}
	&.gauge--danger {
		background-image: url($image-path + "dummy-chart/dummy_gauge_danger.png");
	}
}
.dsbd--chart--updown {
	width: 40px;
	height: 40px;
	background-size: 40px;
	margin: 0 auto $x;
	&:after {
		content: "-";
		color: $gray-subtle;
		display: block;
		width: 1em;
		margin: 0 auto;
		text-align: center;
		font-size: ceil($font-size-base * 2);
		line-height: 40px;
	}
	&.updown-hg {
		width: 72px;
		height: 72px;
		background-size: 72px;
		&:after {
			line-height: 72px;
			font-size: ceil($font-size-base * 3);
		}
	}
	&.updown-lg {
		width: 64px;
		height: 64px;
		background-size: 64px;
		&:after {
			line-height: 64px;
			font-size: ceil($font-size-base * 3);
		}
	}
	&.updown-sm {
		width: 32px;
		height: 32px;
		background-size: 32px;
		&:after {
			line-height: 32px;
			font-size: ceil($font-size-base * 2);
		}
	}
	&.updown--up {
		background-image: url($image-path + "updown_up.svg");
		&:after {
			content: "";
		}
	}
	&.updown--down {
		background-image: url($image-path + "updown_down.svg");
		&:after {
			content: "";
		}
	}
}
.dsbd--chart--doughnut {
	position: relative;
	background-image: url($image-path + "dummy-chart/dummy_doughnut_void.png");
	width: 64px;
	height: 64px;
	background-size: 64px;
	margin: 0 auto;
	// canvas {
	// 	width: auto!important;
	// 	height: 64px!important;
	// }
	&.doughnut-hg {
		width: 128px;
		height: 128px;
		background-size: 128px;
		// canvas {
		// 	width: 256px!important;
		// 	height: 128px!important;
		// }
		.dsbd--valuenum {
			top: 42px;
		}
	}
	&.doughnut-lg {
		width: 80px;
		height: 80px;
		background-size: 80px;
		// canvas {
		// 	width: 160px!important;
		// 	height: 80px!important;
		// }
		.dsbd--valuenum {
			top: 20px;
			&.valuenum-sm {
				top: 25px;
			}
		}
	}
	&.doughnut-sm {
		width: 40px;
		height: 40px;
		background-size: 40px;
		// canvas {
		// 	width: 80px!important;
		// 	height: 40px!important;
		// }
	}
	&.doughnut--good {
		background-image: url($image-path + "dummy-chart/dummy_doughnut_good_60.png");
	}
	&.doughnut--warning {
		background-image: url($image-path + "dummy-chart/dummy_doughnut_warning_40.png");
	}
	&.doughnut--danger {
		background-image: url($image-path + "dummy-chart/dummy_doughnut_danger_20.png");
	}
	.dsbd--valuenum {
		text-align: center;
		position: absolute;
		width: 100%;
		top: 17px;
		.unit {
			line-height: 1;
			padding: 0;
			display: block;
		}
	}
}


// Style

.sidebar ul li a,
.sidebar ul li span {
	&.navbar-new {
		line-height: 17px;
		padding: 0 1px;
	}
}

.sidebar {
	.home {
		li {
			background-color: mix($gray-dark, $sidebar-bg, 50%);
		}
	}
}

.container-dsbd {
	.divider {
		border-bottom: 1px solid $gray-subtle;
		margin: $s 0 $m;
	}
}

#footer-related {
	background-color: mix($gray-subtler, white, 25%);
	.wdgt--related {
		margin-left: $l;
		padding-top: 10px;
	}
	.btn {
		@include button-variant($brand-primary, transparent, $btn-flat-primary-hover-bg, $btn-flat-primary-active-bg, transparent);
	  border: 1px solid $brand-primary;
	  margin-right: $s;
	  &:hover,
	  &:focus {
	    color: $btn-primary-hover-bg;
	    border: 1px solid $btn-flat-primary-active-bg;
	  }
	  @include button-size(6px, 6px, $btn-font-size-xs, $btn-line-height-xs, $border-radius-base);
	}
}
