@charset "UTF-8";
/*
for Style page in ABUI Guideline Documentation Only
v1.0.6
----------------------------------------------------------------
*/



// Loading Compass
@import "compass";

// Loading custom fonts
//@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
@import "modules/local-font";
@import "modules/glyphicon";

// Loading config with variables (changing them leads to changing a color scheme)
@import "variables";

// Utility mixins for greater good
@import "mixins";

// @import "scaffolding";

// Spaces
@import "spaces";




.demo-icons {
  [class^="icon-abui-"], [class*=" icon-abui-"] {
    font-size: 48px;
  }
  &.table-bordered > tbody > tr  {
    > th,
    > td {
      border-left: none;
      border-right: none;
    }
  }
}


.color-tip {
  &.gray-darker {
    background-color: $gray-darker;
  }
  &.gray-dark {
    background-color: $gray-dark;
  }
  &.gray {
    background-color: $gray;
  }
  &.gray-light {
    background-color: $gray-light;
  }
  &.gray-lighter {
    background-color: $gray-lighter;
  }
  &.gray-subtle {
    background-color: $gray-subtle;
    color: $gray;
  }
  &.gray-subtler {
    background-color: $gray-subtler;
    color: $gray;
  }
  &.blue {
    background-color: $blue;
  }
  &.bluegreen {
    background-color: $bluegreen;
  }
  &.green {
    background-color: $green;
  }
  &.greenyellow {
    background-color: $greenyellow;
  }
  &.yellow {
    background-color: $yellow;
  }
  &.yelloworange {
    background-color: $yelloworange;
  }
  &.orange {
    background-color: $orange;
  }
  &.orangered {
    background-color: $orangered;
  }
  &.red {
    background-color: $red;
  }
  &.redpurple {
    background-color: $redpurple;
  }
  &.purple {
    background-color: $purple ;
  }
  &.purpleblue {
    background-color: $purpleblue;
  }
}
