@charset "UTF-8";
/*
for ABUI Guideline Documentation Only
v1.0.6
----------------------------------------------------------------
*/

// Loading Compass
@import "compass";
// Loading config with variables (changing them leads to changing a color scheme)
@import "variables";
@import "mixins";




.color-tip {
	width: 100%;
	@include border-radius($border-radius-base);
	padding: 11px 16px;
	color: $inverse;
	font-weight: bold;
	.rgbnum {
		display: block;
		font-size: ceil($component-font-size-base*0.928);
	}
}
.prettyprint {
	margin-bottom: $l*2;
	border: none;
	background-color: mix($gray-subtler, white, 50%);
}
h6 {
	font-weight: bold;
	color: $gray-light;
	font-size: ceil($component-font-size-base*1.25);
	margin-bottom: 18px;
}

// sidebarandnavbar
.layout-pattern {
	cursor: pointer;
	&:hover,
	&.active {
		table {
			border-color: $brand-primary;
		}
		.layout-caption {
			color: $brand-primary;
		}
	}
	table {
		width: 100%;
		height: 320px;
		border-collapse: collapse;
		border: 2px solid white;
		th,td {
			background: $gray-subtler;
			padding: 8px;
			vertical-align: top;
			font-size: 90%;
			span {
				display: block;
				@include opacity(.5);
			}
		}
		th {
			border-right: 2px solid white;
		}
		td:not(.layout-wrapper) {
			border-bottom: 2px solid white;
		}
		.layout-sidebar {
			background: $gray-lighter;
			width: 30%;
			color: white;
		}
		.fixed {
			background: $gray-lighter;
			color: white;
		}
		.navbar-bs {
			height: 64px;
		}
		.navbar-lg {
			height: 88px;
		}
		.class {
			font-size: 80%;
			display: inline-block;
			line-height: 1.4;
		}
		td .class {
			padding-left: 4px;
		}
	}
	.layout-caption {
		font-size: 90%;
		color: $gray-light;
		text-align: center;
		padding: 12px 0 24px;
	}
}

.section {
	.section-title {
		font-size: ceil($font-size-base * 1.5);
	}
	.section-subtitle {
		color: $gray;
		margin-top: $l*2;
	}
	ul:not(.dropdown-menu) {
		padding-left: $l;
		li.section-title {
			color: $gray;
			font-size: floor($component-font-size-base*1.286); //18px
			margin-bottom: 20px;
			line-height: 1.3;
		}
		li.section-text {
			color: $gray-light;
			font-size: $component-font-size-base;
			margin-bottom: 12px;
		}
	}
	&:last-child {
		border-bottom: none;
	}
}

// abuiガイドラインのみの.section設定
.container,
.container-fluid {
	> div {
// 		&:first-child {
// 			> .section {
// 				&:first-child {
// 					border-top: none;
// 				}
// 			}
// 		}
		> .section {
			&:first-child {
				border-top: 2px solid $gray-subtle;
			}
		}
	}
}



// graphchart
$color-tip-height: $m*2;
// カラースウォッチ
.color-palette-list {
	list-style: none;
	& > li {
		margin-bottom: $l;
	}

	&__tip-wrap {
		@include display-flex(flex);
	}
	&__tip-item {
		@include flex-basis(calc(100% / 12));
	}
}

.color--tip {
	font-size: 75%;
	line-height: $color-tip-height;
	text-align: center;
	height: $color-tip-height;
	display: block;
	&.text-inverse {
		color: white;
	}
}
.color--palette {
	margin-bottom: $l;
	overflow: hidden;
}

.color--cool {
	.color1 {
		background-color: $cool-1;
	}
	.color2 {
		background-color: $cool-2;
	}
	.color3 {
		background-color: $cool-3;
	}
	.color4 {
		background-color: $cool-4;
	}
	.color5 {
		background-color: $cool-5;
	}
	.color6 {
		background-color: $cool-6;
	}
	.color7 {
		background-color: $cool-7;
	}
	.color8 {
		background-color: $cool-8;
	}
	.color9 {
		background-color: $cool-9;
	}
	.color10 {
		background-color: $cool-10;
	}
	.color11 {
		background-color: $cool-11;
	}
	.color12 {
		background-color: $cool-12;
	}
}
.color--warm {
	.color1 {
		background-color: $warm-1;
	}
	.color2 {
		background-color: $warm-2;
	}
	.color3 {
		background-color: $warm-3;
	}
	.color4 {
		background-color: $warm-4;
	}
	.color5 {
		background-color: $warm-5;
	}
	.color6 {
		background-color: $warm-6;
	}
	.color7 {
		background-color: $warm-7;
	}
	.color8 {
		background-color: $warm-8;
	}
	.color9 {
		background-color: $warm-9;
	}
	.color10 {
		background-color: $warm-10;
	}
	.color11 {
		background-color: $warm-11;
	}
	.color12 {
		background-color: $warm-12;
	}
}
.color--neon {
	.color1 {
		background-color: $neon-1;
	}
	.color2 {
		background-color: $neon-2;
	}
	.color3 {
		background-color: $neon-3;
	}
	.color4 {
		background-color: $neon-4;
	}
	.color5 {
		background-color: $neon-5;
	}
	.color6 {
		background-color: $neon-6;
	}
	.color7 {
		background-color: $neon-7;
	}
	.color8 {
		background-color: $neon-8;
	}
	.color9 {
		background-color: $neon-9;
	}
	.color10 {
		background-color: $neon-10;
	}
	.color11 {
		background-color: $neon-11;
	}
	.color12 {
		background-color: $neon-12;
	}
}

.graphchart-example {
	@include display-flex(flex);
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	@include align-content(space-aroun);
	&__box {
		@include flex-basis(percentage(539/1110));
		margin-bottom: 32px;
	}
}

.graphchart--example {
	text-align: center;
}

//slider
.ui-slider-horizontal {
  .ui-slider-handle {
    top:-9px;
  }
}
.ui-slider-vertical {
  .ui-slider-handle {
    left: -0.145em;
  }
}

//tooltip
.demo-tooltips {
  position:relative;
  left:75%;
	.tooltip {
		z-index: 1020;
		&.bottom {
			@media (max-width: $screen-xs-max) {
				top: -56px !important;
		    left: -24px !important;
			}
		}
		&.top {
			@media (max-width: $screen-xs-max) {
				top: 0px !important;
		    left: -24px !important;
			}
		}
		&.right {
			@media (max-width: $screen-xs-max) {
				top: 56px !important;
		    	left: -32px !important;
			}
			@media (min-width: $screen-md-min) {
				top: -21px !important;
				& > .tooltip-arrow {
					top: 50% !important;
				}
			}
		}
		&.left {
			@media (max-width: $screen-xs-max) {
				top: 105px !important;
	    		left: -26px !important;
			}
			@media (min-width: $screen-md-min) {
				top: -21px !important;
				& > .tooltip-arrow {
					top: 50% !important;
				}
			}
		}
	}
}
.example.demo-top {
	& ~ .tooltip {
		z-index: 1020;
	}
}

//icon
.demo-icons {
  pre{
    margin-bottom:0px;
  }
  th:first-child{
    text-align: center;
  }
}
//modal
//検索&結果
.demo-container {
  @include box-shadow(rgba($gray-dark, 0.3) 0 4px 16px);
}


.dodont {
	display: inline-block;
	width: 6em;
	padding-right: $l*2;
	font-size: 20px;
	font-weight: bold;
	[class^="icon-abui-"],
	[class*=" icon-abui-"] {
		position: relative;
		font-size: floor($font-size-base * 1.125);
	}
}
.my-gallery {
	font-size: 0;
	text-align: center;
	figure {
		display: inline-block;
	}
}


// 検索&一覧を複数設定する場合
// AB_guideline_pattern_searchandresult_multiple.html
#searchandresult-multiple {
	& .modal {
		& .section-filter {
			padding: 24px;
		}
	}
}


.pic--screenshot {
	width: percentage(820/1110);
	margin-bottom: $m;
	& ~ .wrap {
		text-align: center;
		width: 60%;
		height: auto;
	}
}
.pic-wide {
	@media (max-width: $screen-xs-max) {
		width: 100%;
	}
}

*[id="install-sct-03"] {
	& .list-unstyled {
		margin-bottom: $l*2;
	}
}

// クラスの命名規則
.markup__rule-list {
	font-size: $font-size-base * 0.875;
	color: $gray-light;
	list-style: decimal;
	&__sub {
		font-size: $font-size-base * 0.75;
	}
}
.starting-project__rule-list {
	@extend .markup__rule-list;
}

// スライダー入力
.slider--step {
	margin-top: 16px;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		position: relative;
		li {
			height: 2px;
			float: left;
		}
		&.slider--stepdot {
			height: 2px;
			top: 23px;
			z-index: 1;
			li {
				width: 8.333%;
				&:first-child {
					margin-left: 8.333%;
				}
				&:after {
					display: block;
					content: "";
					width: 2px;
					height: 2px;
					@include border-radius(50%);
					background-color: $gray-light;
				}
				&.zero {
					&:after {
						background-color: white;
					}
				}
			}
		}
		&.slider--stepnum {
			height: 12px;
			top:8px;
			li {
				text-align: center;
				width: 16.666%;
				font-size: ceil($font-size-base * 0.6875);
				color: $gray-light;
				position: relative;
				left: -8.33%;
			}
		}
	}
}


// リストメーカー
.table-listmaker {
	&.table-striped > tbody {
		> tr:nth-child(odd) {
			&.selected {
				td {
					background-color: $table-bg-active!important;
					color: $brand-primary;
				}
			}
		}
	}
	tr {
		&.selected {
			td {
				background-color: $table-bg-active!important;
				color: $brand-primary;
				border-top: 1px solid $table-bg-active!important;
				border-bottom: 1px solid $table-bg-active!important;
				&.sort-control {
					a.active {
						color: white;
					}
				}
			}
		}
	}
	td {
		height: 46px;
		&.sort-control {
			padding-left: $s;
			width: 32px;
			a {
				display: block;
				height: 19px;
				padding-top: 3px;
				text-align: center;
				color: $gray-light;
				font-size: ceil($font-size-base * 0.75);
				&:hover {
					color: $btn-primary-hover-bg;
				}
				&.active {
					color: $brand-primary;
				}
			}
		}
	}
}
.listmaker__tgt--control {
	@include clearfix();
	margin-bottom: $x;
	.btn-delall {
		float: right;
	}
}


// ドリルダウン
$drilldown-minwidth: 240px;
.drilldown-box-wrap {
	width: 100%;
	overflow: auto;
}
.drilldown-box {
	width: auto; // ダミー対応 	jQueryで子要素.table-drilldown-wrap数をカウントして幅決める
	height: 320px;
	margin: 0;
	padding: 0;
	padding-left: 0!important;
	&.drilldown-box-w3 {
		min-width: $drilldown-minwidth*3;
		.table-drilldown-wrap {
			width: floor(100%/3);
		}
	}
	&.drilldown-box-w4 {
		// width: 252px *4; // ダミー対応 	jQueryで子要素.table-drilldown-wrap数をカウントして幅決める
		min-width: $drilldown-minwidth*4;
		.table-drilldown-wrap {
			width: (100%/4);
		}
	}
	&.drilldown-box-w5 {
		// width: 252px *5; // ダミー対応 	jQueryで子要素.table-drilldown-wrap数をカウントして幅決める
		min-width: $drilldown-minwidth*5;
		.table-drilldown-wrap {
			width: (100%/5);
		}
	}
}
.table-drilldown-wrap {
	min-width: $drilldown-minwidth;
	display: block;
	float: left;
	padding-right: $m;
	.slimScrollDiv {
		background-color: mix($gray-subtler, white, 90%);
	}
}
.table-drilldown {
	@extend .table-listmaker;
	tr {
		&.selected {
			background-color: $table-bg-active!important;
			color: $brand-primary;
			td {
				border-top: 1px solid $table-bg-active!important;
				border-bottom: 1px solid $table-bg-active!important;
			}
			&:hover,
			&:active,
			&:focus {
				color: $gray-dark;
			}
		}
	}
}


%display-table {
	display: table;
	& > * {
		vertical-align: middle;
		display: table-cell;
	}
}

.drilldown-list--wrap {
	background-color: mix($brand-primary, white, 10%);
	@include border-radius($border-radius-base);
	width: 100%;
	padding: $m;
	margin-bottom: $l;
	@extend %display-table;
	&__list {
		padding-right: $l;
	}
	&__btn {
		width: 86px;
	}
}
.drilldown-list {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
		font-size: ceil($font-size-base * 0.875);
		padding: $s 0;
		margin-right: $s;
		line-height: 1;
		cursor: pointer;
		&:after {
			content: "、";
			display: inline;
		}
		&:hover {
			padding: $s;
			background-color: mix($brand-danger, white, 15%);
			@include border-radius($border-radius-base);
			@include transition(0.25s);
			.icon {
				display: inline-block;
			}
			&:after {
				display: none;
			}
		}
		.icon {
			display: none;
			color: $brand-danger;
			font-size: ceil($font-size-base * 0.8125);
			margin-left: $s;
		}
	}
}

// 選択したものを追加
// (AB_guideline_pattern_form.html#abui-various-input-12)
.add-selected {
	&__wrap {
		background-color: mix($brand-primary, white, 10%);
		@include border-radius($border-radius-base);
		width: 100%;
		padding: $m;
		margin-bottom: $l;
		@extend %display-table;
		&__list {
			padding-right: $l;
		}
		&__btn {
			width: 86px;
		}
	}

	&__table {
		& th {
			&:nth-child(1) {
				border-right: solid 1px #fff;
				width: 20%;
			}
			&:nth-child(3) {
				width: 48px;
			}
		}
		& td {
			&:nth-child(1) {
				width: 20%;
			}
			&:nth-child(3) {
				width: 48px;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.add-selected-list {
	@extend .drilldown-list;
	margin-top: 0;
}


// サジェストで絞込&選択したものを追加
// AB_guideline_pattern_form.html#abui-various-input-13
.add-list--wrap {
  border: none;
  border-bottom: 1px dotted $gray-lighter;
  color: $gray;
  margin-top: 20px;
	@include border-radius($border-radius-base);
	width: 100%;
	padding: $x;
	padding-left: $m;
	@extend %display-table;
	&__list {
		padding-right: $l;
	}
	&__btn {
		width: 86px;
	}
}
.add-list {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
		font-size: ceil($font-size-base * 0.875);
		padding: $s 0;
		margin-right: $s;
		line-height: 1;
		margin-top: -1px;
		&:after {
			content: "、";
			display: inline;
		}
		&:hover {
			padding: $s;
			background-color: mix($gray-lighter, white, 15%);
			@include border-radius($border-radius-base);
			@include transition(0.25s);
			.icon {
				display: inline-block;
				&:hover {
					background-color: mix($brand-danger, white, 15%);
				}
			}
			&:after {
				display: none;
				background-color: transparent;
			}
		}
		&.nospecify {
			&:after {
				display: none;
			}
			&:hover {
				padding: $s 0;
				background-color: transparent;
			}
		}
		.icon {
			display: none;
			color: $brand-danger;
			font-size: ceil($font-size-base * 0.785);
			margin-left: $x;
			margin-top: -$x;
			margin-bottom: -$x;
			margin-right: -$x;
			padding: $s;
			cursor: pointer;
		}
		.nights {
			color: $link-color;
			cursor: pointer;
			padding-left: $s;
			&:hover {
				color: $link-hover-color;
			}
		}
	}
}


// テーブルツリー
.add--record1--wrap {
	position: relative;
	border-right: 1px solid $gray-lighter;
}
.table--menu1--wrap {
	min-height: 100%;
	padding-right: $l;
	border-right: 1px solid $gray-lighter;
}

.table--menu1 {
	&.table-striped > tbody {
		> tr:nth-child(odd) {
			&.selected {
				td {
					background-color: mix($brand-primary, white, 100%);
					color: white;
				}
			}
		}
	}
	tr {
		cursor: pointer;
	}
	tr.selected {
		position: relative;
		td {
			background-color: mix($brand-primary, white, 100%);
			color: white;
			&:last-child {
				position: relative;
			}
		}
	}
}
.menu--arrow {
	content: "";
	position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-right-color: $gray-lighter;
  border-width: 8px 10px 8px 0;
  margin-top: -8px;
  right: 0px;

  &:after {
		content: "";
		position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-right-color: white;
    border-width: 8px 10px 8px 0;
    margin-top: -8px;
    right: -12px;
	}
}

.table--menu2 {
	tr {
		cursor: pointer;
	}
}

.table-tree {
	ul:not(.dropdown-menu) {
		padding-left: 0px;
	}
	ul, li {
		list-style: none;
	}
	li {
		cursor: pointer;
		//addRowのみ別定義
		&.selected {
			background-color: $table-bg-active!important;
			color: $brand-primary;
			//追加ボタン
			span {
				color: white;
			}
		}


	}

	.anchor {
		padding: 8px;
		font-size: 14px;
		text-decoration: none;
		&:not(.btn):hover {
			background-color: $table-bg-hover;
		}
		a {
			display: block;
			color: $gray;
			-webkit-transition: 0.25s;
			-moz-transition: 0.25s;
			-o-transition: 0.25s;
			transition: 0.25s;
			&:hover {
				color: $link-hover-color;
			}
			.icon {
				color: $link-color;
				font-weight: 700;
			}
		}

		input {
			margin: -4px -4px -4px 4px;
		}

		&.selected {
			background-color: $table-bg-active!important;
			a {
				color: $brand-primary;
			}
		}
	}

	//jsで付与
	.bg-odd {
		background-color: #f4f6f6;
		&:hover {
			background-color: #eaf7fe;
		}
	}
	.bg-even {
		background-color: #fff;
		&:hover {
			background-color: #eaf7fe;
		}
	}
}

.example-float-thead {
	width: auto;
	min-width :0px !important;
	@media (min-width: $screen-sm-min) {
		width: 100%;
	}
}

.fix-mt144 {
	@media (max-width: $screen-xs-max) {
		margin-top: 144px;
	}
}



.tab-pane {
	background-image: url($image-path + 'guideline/bg_hatched.svg');
	height: 96px;
	text-align: center;
	line-height: 96px;
	font-size: floor($font-size-base * 2.5);
	color: $gray-subtle;
}


// image-thumbnail only guideline
#image {
	.image {
		&__thumbnail {
			vertical-align: top;
			width: percentage(234/718);
			margin-right: percentage(8/718);
			@media (min-width:$screen-md-min) {
				width: 234px;
				margin-right: 8px;
			}
		}
	}
}
#abui-photo-zoom {
	@extend #image;
}



// 変更のフィードバック
@include keyframes(bg-color) {
	0%   { background-color: white; }
	20%  { background-color: mix($brand-info, white, 20%); }
	100% { background-color: white; }
}
@include keyframes(bg-color--viewonly) {
	0%   { background-color: $input-viewonly-bg; }
	20%  { background-color: mix($brand-info, white, 20%); }
	100% { background-color: $input-viewonly-bg; }
}

// @-webkit-keyframes bg-color {
// 	0% { background-color: white; }
// 	20% { background-color: mix($brand-info, white, 20%); }
// 	100% { background-color: white; }
// }
// @keyframes bg-color {
// 	0% { background-color: white; }
// 	20% { background-color: mix($brand-info, white, 20%); }
// 	100% { background-color: white; }
// }

.feedback-changed {
	@include animation(bg-color 1.2s ease 0s 1 normal both);
	// animation: bg-color 1.2s ease 0s 1 normal;
	// -webkit-animation: bg-color 1.2s ease 0s 1 normal;
	&.viewonly-text {
		@include animation(bg-color--viewonly 1.2s ease 0s 1 normal both);
	}
}


.list--sortable {
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
	li {
		padding: $s;
		background-color: white;
		font-size: ceil($font-size-base * 0.785);
		border-top: 1px solid $gray-subtle;
		border-bottom: 1px solid $gray-subtle;
		margin-top: -1px;
	}
}



.communication--box {
	position: relative;
	margin-bottom: $m;
	.communication--user {
		position: absolute;
		top:0;
		width: 32px;
		height: 32px;
		background-color: mix($purpleblue, white, 32%);
		@include border-radius(50%);
		text-align: center;
		span {
			display: inline-block;
			font-size: 20px;
			color: mix($purpleblue, white, 80%);
			position: relative;
			top: 4px;
		}
	}
	.communication--bodytext {
		position: relative;
		background-color: mix($gray-subtler, white, 64%);
		@include border-radius($border-radius-small);
		padding: $s $m;
		font-size: ceil($font-size-base * 0.875);
		line-height: 1.5;
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 0;
	    height: 0;
	    border-color: transparent;
	    border-style: solid;
	    margin-top: 2px;
		}
		.communication--subinfo {
			margin: $x 0 0;
			font-size: ceil($font-size-base * 0.625);
			color: $gray-lighter;
			line-height: 1;
			.communication--date {
				margin-right: $x;
			}
		}
	}
	&.communication--box__left {
		padding-left: 44px;
		padding-right: 8%;
		.communication--user {
			left: 0;
		}
		.communication--bodytext {
			&:before {
				border-right-color: mix($gray-subtler, white, 50%);
		    border-width: 6px 8px 6px 0;
		    left: -8px;
			}
		}
	}
	&.communication--box__right {
		padding-left: 8%;
		padding-right: 44px;
		.communication--user {
			right: 0;
		}
		.communication--bodytext {
			&:before {
				border-left-color: mix($gray-subtler, white, 50%);
		    border-width: 6px 0 6px 8px;
		    right: -8px;
			}
		}
	}
}
.communication-comennt {
  padding: $s;
  margin-top: $l + $s;
  background-color: mix($brand-primary, white, 16%);
  textarea {
  	min-height: auto;
  }
  .comment--expand {
	  margin-top: $s;
	}
}



/*! サイドバーのレイアウト設定 */
/*! abuiガイドのみ */
#sidebar-01 {
	& .nav {
		& > li {
			& > ul {
				& > li {
					padding-left: $x;
				}
			}
		}
	}
}
body {
	& .wrapper {
		& h3 {
			margin-top: $m;
			font-weight: 100;
		}
	}
}

// 導入と構成(AB_guideline_document_getting-started.html)
#starting-project {
	& img {
		border: 1px solid #dbe0e3;
		vertical-align: bottom;
		height: auto;
		max-width: 100%;
	}
}
#install {
	@extend #starting-project;
}
#directory {
	@extend #starting-project;
}
#markup {
	@extend #starting-project;
}
#starting-project {
	.swiper-container {
		border: 1px solid $gray-subtle;
		padding: 24px;
		.swiper-wrapper {
			margin-bottom: 80px;
			.swiper-slide {
				width: 100%;
				& img {
					height: 300px;
				}
			}
		}
	}
}

.icon-insert-inline {
	font-family: 'ABUI-icons';
	font-size:  32px;
	line-height: 32px;
}

.icon-view {
	.icon-insert-inline {
		display: block;
		float: left;
		margin-right: $l;
	}
	.prettyprint {
		margin-bottom: $l+$s;
		height: 36px;
		overflow: hidden;
	}
}

// lead
#lead--astroblaster {
	padding-top: $l*4;
	padding-bottom: $l*3;
	@media (max-width: $screen-xs-max) {
		padding-top: $l*3;
	}
	.logotype--astroblaster {
		width: 100%;
		height: auto;
	}
	.lead--title {
		display: block;
		margin-top: $m;
		text-align: center;
		font-size: ceil($font-size-base * 1.25);
		color: $gray-light;
		line-height: 1.4;
	}
	.lead--text {
		padding-top: $l*3;
		p {
			// font-size: ceil($font-size-base * 0.875);
			color: $gray-light;
		}
	}
}

// レイアウト (AB_guideline_document_layout.html#scale)
.baseline-caption {
	width: 100%;
	&__item {
		width: 100%;
		margin-bottom: $l;
		& > img {
		 	max-width: 100%;
		 	height: auto;
		}
	}

	@media (min-width: $screen-sm-min) {
		display: table;
		table-layout: fixed;
		&__item {
			vertical-align: top;
			display: table-cell;
			&--01 {
				width: 100%;
			}
			&--02 {
				padding-left: percentage(16 / 736);
			}
		}
	}
	@media (min-width: $screen-md-min) {
		&__item {
			& > img {
			 	max-width: none;
			}

			&--01 {
				width: 537px;
			}
			&--02 {
				padding-left: $l;
			}
		}
	}
}

.target-size-caption {
	display: table;
	table-layout: fixed;
	&__item {
		vertical-align: top;
		display: table-cell;
		&--01 {
			width: 112px;
		}
		&--02 {
			width: 139px;
			padding: {
				right: $l;
				left: $l;
			}
		}
		&--03 {
			width: 80px;
		}
	}
}

.sidebar-caption {
	box-shadow: 1px 1px 1px 0 rgba(181, 193, 198, 0.65098);
	&--nest {
		font-size: 0;
		margin-bottom: $l;
		&__item {
			font-size: $font-size-base;
			vertical-align: top;
			margin-right: $m;
			display: inline-block;
		}
	}
}
