@charset "UTF-8";
/*
for Layout page in ABUI Guideline Documentation Only
v1.0.6
----------------------------------------------------------------
*/



// Loading Compass
@import "compass";

// Loading custom fonts
//@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
@import "modules/local-font";
@import "modules/glyphicon";

// Loading config with variables (changing them leads to changing a color scheme)
@import "variables";

// Utility mixins for greater good
@import "mixins";

// @import "scaffolding";

// Spaces
@import "spaces";




.guideline--layout--structure {
  margin-top: 24px;
  border: 1px dotted $gray-lighter;
  padding: $s;
  padding-top: $s+$l;
  position: relative;
  .structure-class {
    font-size: ceil($component-font-size-base * 0.75);   // ~12px
    color: white;
    display: inline-block;
    position: absolute;
    background: $gray-lighter;
    padding: 0 $x;
    height: 20px;
    line-height: 20px;
    top: 0;
    left: 0;
  }
  .structure-class--b {
    margin-top: 25px;
    margin-left: 9px;
    z-index: 100;
    & ~ .btn-group.btn-group-justified {
      padding-top: 24px;
    }
  }

  .structure-bgimg {
    background-image: url(../images/guideline/bg_hatched.svg);
    & > p {
      padding: 48px 0;
    }
  }

  div,
  .section,
  .row,
  .form-group,
  .form-inline,
  .btn-group,
  .input-group,
  .checkbox {
    border: 1px dotted $gray-lighter;
    padding: $s;
    padding-top: $s+$l;
    position: relative;
    margin-bottom: $s;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .form-group,
  .btn-group,
  .input-group,
  .checkbox {
    background-color: rgba(white,0.5);
    margin-bottom: 0;
    margin-right: $s;
    &:last-child {
      margin-right: 0;
    }
  }
  .section-title,
  .section-text,
  label:not(.checkbox),
  .help-block,
  .form-count,
  .label-additional {
    background: mix($brand-primary,
      white,
    10%);
    &.displaynone-structure {
      background: $gray-subtle;
    }
  }
  .structure-inner {
    color: $gray-light;
    font-size: ceil($font-size-base * 0.875);
  }
  .section-title,
  .section-text {
    font-size: 16px;
    margin-bottom: $s;
  }
  .row,
  .form-inline {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $s;
    background: $gray-subtler;
  }
  .form-inline {
    .label-additional,
    .help-block {
      margin-left: 0;
    }
  }
  .checkbox {
    margin: $s;
    margin-left: 0;
    padding: 28px $s $s 36px;

    .icons {
      top: 28px;
      left: $s;
    }
      &.row,
      &.form-inline {
        border: 1px dotted $brand-primary;
        background: mix($brand-primary,
          white,
        40%);
        > .structure-class {
          background: $brand-primary;
        }
        > .form-group {
          border: 1px dotted $brand-primary;
          background: mix($brand-primary,
            white,
          30%);
          > .structure-class {
            background: mix($brand-primary,
              white,
            80%);
          }
          > .input-group,
            .btn-group {
            border: 1px dotted $brand-primary;
            background: mix($brand-primary,
              white,
            20%);
            > .structure-class {
              background: mix($brand-primary,
                white,
              70%);
            }
            > .btn-group {
              border: 1px dotted $brand-primary;
              background: mix($brand-primary,
                white,
              10%);
            }
          }
          > label{
            &.checkbox,
            &.checkbox-inline {
              border: 1px dotted $brand-primary;
              background: mix($brand-primary,
                white,
              20%);
              > .structure-class {
                background: mix($brand-primary,
                  white,
                70%);
              }
            }
          }
        }
      }
    }

}

.guideline--layout--block {
  overflow: hidden;
}

.show-grid {
  margin-bottom: $l;
  margin-left: 0;
  margin-right: 0;
  [class^=col-] {
    padding: 0 $s;
    background-color: rgba($gray-subtle,
      0.4);
    border: 1px solid $gray-subtle;
    color: $gray;
  }
  .show-grid {
    margin-left: -$s;
    margin-right: -$s;
  }
}

.table-responsive {
  margin-bottom: 2*$l;
}

.responsive-utilities {
  th {
    small {
      display: block;
      color: $gray-light;
    }
  }
  td {
    &.is-visible {
      color: $brand-info;
      background: $table-state-info-bg!important;
    }
    &.is-hidden {
      color: $gray-lighter;
      background: rgba($gray-subtler,
        0.5)!important;
    }
  }

}
.responsive-utilities-test {
  margin-bottom: $l;
  .col-xs-6 {
    margin-bottom: $s;
  }
  span {
    display: block;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    border-radius: 4px;
  }
}
.hidden-on {
  .col-xs-6 {
    .hidden-lg,
    .hidden-md,
    .hidden-sm,
    .hidden-xs {
      color: $gray-light;
      border: 1px solid $gray-subtle;
    }
    .visible-lg-block,
    .visible-md-block,
    .visible-sm-block,
    .visible-xs-block {
      color: $brand-info;
      background-color: $table-state-info-bg;
      border: 1px solid $table-state-info-bg;
    }
  }
}
.visible-on {
  .col-xs-6 {
    .hidden-lg,
    .hidden-md,
    .hidden-sm,
    .hidden-xs {
      color: $gray-light;
      border: 1px solid $gray-subtle;
    }
    .visible-lg-block,
    .visible-md-block,
    .visible-sm-block,
    .visible-xs-block {
      color: $brand-info;
      background-color: $table-state-info-bg;
      border: 1px solid $table-state-info-bg;
    }
  }
}

.helper--spaces {
  ul {
    padding: 0 $l $s;
    border: 1px solid $gray-subtle;
    strong {
      display: inline-block;
      font-size: 1.2em;
      width: 2em;
      text-align: center;
      margin-left: -$s;
      margin-right: $s;
    }
    small {
      display: inline-block;
      color: $gray-light;
    }
  }
  .icon-abui-plus {
    display: inline-block;
    margin-top: $m;
    margin-bottom: $l + $x;
    color: $gray-lighter;
    @media (max-width: $screen-xs-max) {
      margin-top: 0;
    }
  }
}
