@charset "UTF-8";
/*
for Needle meter
v1.0.6
----------------------------------------------------------------
htmlの<head> ~ </head>内で読み込んでください
*/

// Loading Compass
@import "compass";

// Loading config with variables
@import "variables";

// Loading Utility mixins
@import "mixins";




// Image file path
$image-path: $image-path + "needlemeter/";

// Layout

.chart-figure--gauge--base {
    display: block;
    position: absolute;
    width: 72px;
    height: 34px;
    animation: gaugeFigure 1.5s ease 0s 1 normal;
    -webkit-animation: gaugeFigure 1.5s ease 0s 1 normal;
    opacity: 0;
}
.chart-figure--gauge {
    width : calc(96px * 0.75);
    height: calc(46.5px * 0.75);
    background-size: calc(96px * 0.75) calc(46.5px * 0.75);
}
.chart-figure--gauge.gauge--danger {
    background-image: url("#{$image-path}needlemeter_red_80-95.svg"),url("#{$image-path}gray.svg");
}
.chart-figure--gauge.gauge--warning {
    background-image: url("#{$image-path}needlemeter_yellow_95-100.svg"),url("#{$image-path}gray.svg");
}
.chart-figure--gauge.gauge--success {
    background-image: url("#{$image-path}needlemeter_blue_100-120.svg"),url("#{$image-path}gray.svg");
}
.chart-figure--gauge.gauge--none {
    background-image: url("#{$image-path}gray.svg");
}
.chart-figure--gauge--base {
    display: block;
    position: absolute;
    width: 72px;
    height: 34px;
    animation: gaugeFigure 1.5s ease 0s 1 normal;
    -webkit-animation: gaugeFigure 1.5s ease 0s 1 normal;
    opacity: 0;
}
.chart-figure--gauge.chart-figure--xs {
    width: 32px;
    height: 15.5px;
    background-size: 32px 15.5px;
}
.chart-figure--gauge.chart-figure--sm {
    width: 72px;
    height: 34.875px;
    background-size: 72px 34.875px;
}
.chart-figure--gauge.chart-figure--lg {
    width: 128px;
    height: 62px;
}
.chart-wrap {
    text-align: center;
/*  height: 120px;  */
}

/* モック用サイズ指定クラスセレクタ */
/* 幅: 80px */
.needlemeter-hg .chart-figure--gauge {
    width: calc(96px * 0.8334);
    height: calc(46.5px * 0.8334);
    background-size: calc(96px * 0.8334) calc(46.5px * 0.8334);
}
/* 幅: 72px */
.needlemeter-lg .chart-figure--gauge {
    width: calc(96px * 0.75);
    height: calc(46.5px * 0.75);
    background-size: calc(96px * 0.75) calc(46.5px * 0.75);
}
/* 幅: 64px */
.needlemeter-md .chart-figure--gauge {
    width: calc(96px * 0.6667);
    height: calc(46.5px * 0.6667);
    background-size: calc(96px * 0.6667) calc(46.5px * 0.6667);
}
/* 幅: 56px */
.needlemeter-sm .chart-figure--gauge {
    width: calc(96px * 0.5834);
    height: calc(46.5px * 0.5834);
    background-size: calc(96px * 0.5834) calc(46.5px * 0.5834);
}
/* 幅: 48px */
.needlemeter-xs .chart-figure--gauge {
    width: calc(96px * 0.5);
    height: calc(46.5px * 0.5);
    background-size: calc(96px * 0.5) calc(46.5px * 0.5);
}

@keyframes gaugeRotationUp {
    0% {
        transform: rotate(-64deg);
    }
    100% {}
}
@-webkit-keyframes gaugeRotationUp {
    0% {
        transform: rotate(-64deg);
    }
    100% {}
}

/*
 * メーターアニメーション
 */
.cl_meter-animation-gaugeRotationUp {
    animation           : gaugeRotationUp 1.5s ease 0s 1 normal;
    -webkit-animation   : gaugeRotationUp 1.5s ease 0s 1 normal;
}

/*
 * ダッシュボード向けラベル
 */
.dsbd--label {
    line-height: 0.6;
    font-size: 10px;
    color: #98a9b0;
}
.dsbd--valuenum {
    margin-top: -8px;
    line-height: 1.0;
    font-size: 22px;
}
.dsbd--valuenum.valuenum-hg {
    font-size: 28px;
}
.dsbd--valuenum.valuenum-lg {
    font-size: 25px;
}
.dsbd--valuenum.valuenum-md {
    font-size: 22px;
}
.dsbd--valuenum.valuenum-sm {
    font-size: 19px;
}
.dsbd--valuenum.valuenum-xs {
    font-size: 16px;
}

//
// 扇に色を付けるsvg画像を指定する。
// 新しいメーターセットを増やす場合は、ここにStyle定義を追加する。
//
// クラスセレクタ
// .gauge--danger  - 赤
// .gauge--warning - 黄
// .gauge--info    - 緑
// .gauge--success - 青
//

/*
 * Needle meter - 予実比
 */
.cl_gauge--plan.chart-figure--gauge.gauge--danger {
    background-image: url("#{$image-path}needlemeter_red_80-90.svg"),url("#{$image-path}gray.svg");
}
.cl_gauge--plan.chart-figure--gauge.gauge--warning {
    background-image: url("#{$image-path}needlemeter_yellow_90-98.svg"),url("#{$image-path}gray.svg");
}
.cl_gauge--plan.chart-figure--gauge.gauge--success {
    background-image: url("#{$image-path}needlemeter_blue_98-120.svg"),url("#{$image-path}gray.svg");
}

/*
 * Needle meter - 前年比
 */
.cl_gauge--ly.chart-figure--gauge.gauge--danger {
    background-image: url("#{$image-path}needlemeter_red_80-95.svg"),url("#{$image-path}gray.svg");
}
.cl_gauge--ly.chart-figure--gauge.gauge--warning {
    background-image: url("#{$image-path}needlemeter_yellow_95-100.svg"),url("#{$image-path}gray.svg");
}
.cl_gauge--ly.chart-figure--gauge.gauge--success {
    background-image: url("#{$image-path}needlemeter_blue_100-120.svg"),url("#{$image-path}gray.svg");
}

/*
 * Needle meter - 3階調
 */
.cl_gauge--step3.chart-figure--gauge.gauge--danger {
    background-image: url("#{$image-path}needlemeter_red_80-90.svg"),url("#{$image-path}gray.svg");
}
.cl_gauge--step3.chart-figure--gauge.gauge--warning {
    background-image: url("#{$image-path}needlemeter_yellow_90-100.svg"),url("#{$image-path}gray.svg");
}
.cl_gauge--step3.chart-figure--gauge.gauge--success {
    background-image: url("#{$image-path}needlemeter_blue_100-120.svg"),url("#{$image-path}gray.svg");
}

/*
 * Needle meter - 3階調（逆順）
 */
.cl_gauge--step3-rev.chart-figure--gauge.gauge--success {
    background-image: url("#{$image-path}needlemeter_blue_80-100.svg"),url("#{$image-path}gray.svg");
}
.cl_gauge--step3-rev.chart-figure--gauge.gauge--warning {
    background-image: url("#{$image-path}needlemeter_yellow_100-110.svg"),url("#{$image-path}gray.svg");
}
.cl_gauge--step3-rev.chart-figure--gauge.gauge--danger {
    background-image: url("#{$image-path}needlemeter_red_110-120.svg"),url("#{$image-path}gray.svg");
}

/*
 * Needle meter - 4階調
 */
.cl_gauge--step4.chart-figure--gauge.gauge--danger {
    background-image: url("#{$image-path}needlemeter_red_80-90.svg"),url("#{$image-path}gray.svg");
}
.cl_gauge--step4.chart-figure--gauge.gauge--warning {
    background-image: url("#{$image-path}needlemeter_yellow_90-100.svg"),url("#{$image-path}gray.svg");
}
.cl_gauge--step4.chart-figure--gauge.gauge--info {
    background-image: url("#{$image-path}needlemeter_green_100-110.svg"),url("#{$image-path}gray.svg");
}
.cl_gauge--step4.chart-figure--gauge.gauge--success {
    background-image: url("#{$image-path}needlemeter_blue_110-120.svg"),url("#{$image-path}gray.svg");
}

/*
 * Needle meter - 4階調（逆順）
 */
.cl_gauge--step4-rev.chart-figure--gauge.gauge--success {
    background-image: url("#{$image-path}needlemeter_blue_80-90.svg"),url("#{$image-path}gray.svg");
}
.cl_gauge--step4-rev.chart-figure--gauge.gauge--info {
    background-image: url("#{$image-path}needlemeter_green_90-100.svg"),url("#{$image-path}gray.svg");
}
.cl_gauge--step4-rev.chart-figure--gauge.gauge--warning {
    background-image: url("#{$image-path}needlemeter_yellow_100-110.svg"),url("#{$image-path}gray.svg");
}
.cl_gauge--step4-rev.chart-figure--gauge.gauge--danger {
    background-image: url("#{$image-path}needlemeter_red_110-120.svg"),url("#{$image-path}gray.svg");
}
