@charset "UTF-8";
/*
Camera Roll
----------------------------------------------------------------
*/

.cameraRoll {
  background-color: $camera--background-color;
  position: fixed;
  z-index: 2000;
  @include transition-duration(.25s);

  .cameraRoll--header {
    position: absolute;
    top: 0;

    & > img {
      width: 100%;
    }

    .header-select {
      display: none;
      @media (min-width: $screen-sm-min) {
        position: relative;
      }
      //項目選択、未選択時の色グレースケール切り替え用(iPad)
      .toggle-disable {
        @media (min-width: $screen-sm-min) {
          @include transition-duration(.25s);
        }
        &.disabled {
          @media (min-width: $screen-sm-min) {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%);
          }
        }
      }

      .header-select-button {
        @media (min-width: $screen-sm-min) {
          font-size: round($component-font-size-base * 1.2857); // 18px
          color: $color-iOS-control;
          position: absolute;
          right: $l;
          top: $m*2;
        }
      }

      > img {
        width: 100%;
      }
    }

    .cameraRoll--title {
      font-size: round($component-font-size-base * 1.42857); // 20px
      color: $gray-darker;
      text-align: center;
      padding-top: 24px;
      position: absolute;
      z-index: 1000;
      @media all and (orientation: landscape) {
        font-size: round($component-font-size-base * 1.142857); // 16px
        padding-top: 6px;
      }
    }

    .js--close--cameraRoll {
      height: 44px;
      width: 44px;
      position: absolute;
      top: 20px;
      z-index: 1010;
    }
    .js--select-photo {
      width: 44px;
      height: 44px;
      position: absolute;
      right: 0;
      top: 20px;
      z-index: 1010;
      @media (min-width: $screen-sm-min) {
        width: 112px;
      }
    }
    .js--select-photo-cancel {
      width: 96px;
      height: 44px;
      position: absolute;
      right: 0;
      top: 20px;
      z-index: 1010;
    }
  }

  .cameraRoll--body {
    position: absolute;
    overflow: scroll;
    .photo-group {
      .group-title {
        border-top: 1px solid $gray-subtle;
        border-bottom: 1px solid $gray-subtle;
        background-color: #F6F6F6;
        width: 100%;
        position: relative;
        .place {
          font-size: round($component-font-size-base * 1.142857);
          font-weight: normal;
          margin-bottom: 0px !important;
          margin-left: 6px;
          @media (min-width: $screen-sm-min) {
            font-size: round($component-font-size-base * 1.2857); // 18px
            font-weight: bold;
            float: left;
          }
        }
        .select {
          font-size: round($component-font-size-base * 1.2857); // 18px
          color: $color-iOS-control;
          margin-bottom: 0px !important;
          float: left;
          position: absolute;
          right: 8px;
          top: 0px;
          @media (max-width: $screen-xs-max) {
            font-size: round($component-font-size-base * 0.85714); // 12px
            top: 6px;
          }
        }
        .place-info {
          font-size: round($component-font-size-base * 1.2857); // 18px
          margin-top: 0px;
          margin-bottom: 0px !important;
          margin-left: 44px;
          float: left;
          @media (max-width: $screen-xs-max) {
            font-size: round($component-font-size-base * 0.85714); // 12px
            margin-top: -8px;
            margin-left: 6px;
          }
        }
        .date {
          font-size: round($component-font-size-base * 1.2857); // 18px
          float: left;
          margin-bottom: 0px !important;
          position: absolute;
          right: 80px;
          @media (max-width: $screen-xs-max) {
            font-size: round($component-font-size-base * 0.85714); // 12px
            margin-top: -8px;
            right: 8px;
          }
        }
      }
      .photo {
        float: left;
        position: relative;
        overflow: hidden;
        margin-bottom: 1px;
        @media (min-width: $screen-sm-min) {
          margin:24px 12px;
        }

        img {
          width: 100%;
        }

        img.selectedIcon {
          width: 30px;
          position: absolute;
          bottom: 0px;
          right: 0px;
          @media (min-width: $screen-sm-min) {
            width: 32px;
          }
        }

        &:not(:nth-child(4n+1)) {
          @media (max-width: $screen-xs-max) {
            margin-right: 1px;
          }
        }

        &.selected {
          opacity: 0.8;
        }
      }
    }
  }

  .cameraRoll--footer {
    position: absolute;
    bottom: 0;
    > img {
      width: 100%;
    }

    .footer-select {
      display: none;
      @include transition-duration(.25s);
      &.disabled {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
      }

      img {
        width: 100%;
      }
    }

    .footer-select-button {
      font-size: round($component-font-size-base * 1.142857); // 16px
      font-weight: lighter;
      color: $color-iOS-control;
      text-align: center;
      position: absolute;
      bottom: 4px;
    }
  }

  &.show{
    top: 0 !important;
  }
}

//helper
.portrait {
  @media (orientation:landscape) {
    display: none;
  }
  @media (orientation:portrait) {
    display: block;
  }
}
.landscape {
  @media (orientation:landscape) {
    display: block;
  }
  @media (orientation:portrait) {
    display: none;
  }
}
