@charset "UTF-8";
/*
iOS Camera, cameraRoll
----------------------------------------------------------------
*/

.camera--wrap {
  background-color: $camera--background-color;
  width: 100%;
  height: 100%;
  position:fixed;
  top: 0;
  display: none;
  z-index: 2000;
  @include transition-duration(.25s);
  & .screen { //フラッシュ動作用
    background-color: $camera--background-color;
    width: 100%;
    height: 100%;
  }

  &.show {
    display: block;
    top: 0 !important;
  }

  %camera-hight-base {
    height: 100%;
    & img {
      height: 100%;
    }
  }
  %camera-img-width {
    width: 100%;
  }
  &.mobile {

    //sp縦
    &.portrait {
      .camera--header {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 2010;
        img {
          @extend %camera-img-width;
        }
      }

      .camera--body {
        @extend %camera-hight-base;
        width: 100%;
        position: absolute;
      }

      .camera--footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 2010;
        img {
          @extend %camera-img-width;
        }

        & .js--shutter {
          width: percentage(144 / 750);
          height: percentage(130 / 254);
          position: absolute;
          bottom: 14%;
          left: 40.3%;
        }
      }

      &.confirm {
        & .js--retake--photo {
          width: percentage(140 / 750);
          height: percentage(60 / 254);
          display: block;
          position: absolute;
          left: 2.67%;
          bottom: 35%;
        }
        & .js--save--photo {
          width: percentage(194 / 750);
          height: percentage(60 / 254);
          display: block;
          position: absolute;
          right: 3.6%;
          bottom: 35%;
        }
      }
    }

    //sp横
    &.landscape {
      .camera--header {
        @extend %camera-hight-base;
        position: absolute;
        left: 0;
        z-index: 2010;
      }

      .camera--body {
        @extend %camera-hight-base;
        position: absolute;
      }

      .camera--footer {
        @extend %camera-hight-base;
        position: absolute;
        right: 0;
        z-index: 2010;
        & .js--shutter {
          width: percentage(144 / 254);
          height: percentage(130 / 750);
          position: absolute;
          bottom: 41.5%;
          right: 12%;
        }
      }

      &.confirm {
        & .js--retake--photo {
          width: percentage(60 / 254);
          height: percentage(136 / 750);
          display: block;
          position: absolute;
          right: 27.5%;
          bottom: 3%;
        }
        & .js--save--photo {
          width: percentage(60 / 254);
          height: percentage(204 / 750);
          display: block;
          position: absolute;
          right: 27.5%;
          top: 5%;
        }
      }
    }
  }

  &.tablet {
    &.portrait {
      .camera--header {
        display: none;
      }

      .camera--body {
        @extend %camera-hight-base;
      }

      .camera--footer {
        @extend %camera-hight-base;
        padding: $s;
        position: absolute;
        right: 0px;
        top: 0;
        z-index: 2010;

        .js--shutter {
          width: percentage(76 / 87);
          height: percentage(76 / 1024);
          padding: 0;
          position: absolute;
          right: 5.5%;
          top: 46.5%;
        }
      }
      &.confirm {
        .js--retake--photo {
          width: percentage(64 / 768);
          height: percentage(52 / 1024);
          display: block;
          position: fixed;
          bottom: 0.5%;
          left: 1.3%;
          z-index: 2020;
        }

        .js--save--photo {
          width: percentage(92 / 768);
          height: percentage(52 / 1024);
          display: block;
          position: fixed;
          bottom: 0.5%;
          right: 1.3%;
          z-index: 2020;
        }
      }
    }
    &.landscape {
      .camera--header {
        display: none;
      }

      .camera--body {
        @extend %camera-hight-base;
      }

      .camera--footer {
        @extend %camera-hight-base;
        padding: $s;
        position: absolute;
        right: 0px;
        top: 0;
        z-index: 2010;

        .js--shutter {
          width: percentage(80 / 90);
          height: percentage(80 / 768);
          padding: 0;
          position: absolute;
          right: 5.5%;
          top: 45%;
        }

        .js--retake--photo {
          width: percentage(68 / 1024);
          height: percentage(46 / 768);
          display: block;
          position: fixed;
          bottom: 1%;
          left: 0.6%;
          z-index: 2020;
        }

        .js--save--photo {
          width: percentage(100 / 1024);
          height: percentage(46 / 768);
          display: block;
          position: fixed;
          bottom: 1%;
          right: 0.6%;
          z-index: 2020;
        }
      }
    }

    .confirm--tablet {
      background-color: rgba(0,0,0, 0.2);
      width: 100%;
      height: 64px;
      position: absolute;
      bottom: 0;
      & > * {
        font-weight: 100;
        color: $inverse;
      }

      .retake {
        position: absolute;
        left: 8px;
        top: 25%;
      }

      .use {
        position: absolute;
        right: 8px;
        top: 25%;
      }
    }
  }

  button.js--retake--photo {
    display: none;
  }
  button.js--save--photo {
    display: none;
  }

}

//helper
.portrait {
  @media (orientation:landscape) {
    display: none;
  }
  @media (orientation:portrait) {
    display: block;
  }
}
.landscape {
  @media (orientation:landscape) {
    display: block;
  }
  @media (orientation:portrait) {
    display: none;
  }
}
