@charset "UTF-8";
// Combobox
// ----------------------------------------------------------------


.combobox {
	input {
	  font-size: $input-font-size-small;	// 14px
	  border: none;
	  height: $input-height-base - 2px;
	  width: 90%;
	  padding: $s $m;
	  margin: 1px 0 0 1px;
	  position: absolute;
	  z-index: 500;
	  &[disabled] {
	  	@include opacity(0);
	  	background: transparent;
	  	color: rgba($gray-dark, .7);
	  }
	}
	// .btn-input {
	// 	color: transparent;
	// }
}