@charset "UTF-8";
/*
iOS Picker
----------------------------------------------------------------
*/



$wrap-height      : 244px;
$control-height   : 44px;
$drumroll-height  : 200px;
$drumroll-bg      : #d2d5db;
.drumroll-wrap {
  height: 0px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2000;
  @include transition-duration(.25s);
  &.show {
    position:fixed;
    height: $wrap-height;
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 36px;
    border-top: 1px solid rgba(#a8abb0, .5);
    border-bottom: 1px solid rgba(#a8abb0, .5);
    position: absolute;
    top: $control-height + $drumroll-height/2 - 18px;
    z-index: 6000;
  }
  figure {
    height: 23px;
    display: block;
    // margin: 0px;
    font-family: $font-family-ios;
    font-size: 17px;
    -webkit-backface-visibility: hidden;
  }
}
.control{
  background-color: #f0f1f2;
  border-top: 1px solid mix(#919498, white, 50%);
  height: $control-height;
  width: 100%;
  padding: 0 12px;
  font-family: $font-family-ios;
  line-height: 44px;
  font-size: 14px;
  font-weight: bold;
  .drumroll-cancel{
    margin-left:8px;
    float:left;
    position:absolute;
    left:0;
    span {
      color: $color-iOS-control;
    }
  }
  .drumroll-done{
    margin-right:8px;
    float:left;
    position:absolute;
    right:0;
    span {
      color: $color-iOS-control;
    }
  }
}
.drumroll-contents {
  // background-image: url("../images/drumroll.png");
  background-color: $drumroll-bg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% $drumroll-height;
  height: $drumroll-height;
  position: relative;
}
.outer {
  height: 100%;
  margin: 0 auto;
  // widthはjsで制御
}
.inner {
  height: 100%;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  float: left;
  position: relative;
}
.drumroll {
  position: relative;
  height: 100%;
  // width: 300px;
  margin: 0 auto;
  //１列表示
  .one-col {
    .inner {
      max-width: 300px;
    }
  }
  .two-col {
    .inner:first-child {
      max-width: 150px;
      .drum{
        .rotate1000 {
          margin-left: 1px;
        }
        .rotate3250 {
          margin-left: 2px;
        }
        .rotate5500 {
          margin-left: 4px;
        }
        .rotate7750 {
          margin-left: 8px;
        }
        .rotate-1000 {
          margin-left: 1px;
        }
        .rotate-3250 {
          margin-left: 2px;
        }
        .rotate-5500 {
          margin-left: 4px;
        }
        .rotate-7750 {
          margin-left: 8px;
        }
      }
    }
    .inner:last-child {
      max-width: 150px;
      .drum{
        .rotate1000 {
          margin-right: 1px;
        }
        .rotate3250 {
          margin-right: 2px;
        }
        .rotate5500 {
          margin-right: 4px;
        }
        .rotate7750 {
          margin-right: 8px;
        }
        .rotate-1000 {
          margin-right: 1px;
        }
        .rotate-3250 {
          margin-right: 2px;
        }
        .rotate-5500 {
          margin-right: 4px;
        }
        .rotate-7750 {
          margin-right: 8px;
        }
      }
    }
  }
  //3列表示
  .three-col {
    .inner:first-child {
      max-width: 150px;
      .drum{
        .rotate1000 {
          margin-left: 1px;
        }
        .rotate3250 {
          margin-left: 2px;
        }
        .rotate5500 {
          margin-left: 4px;
        }
        .rotate7750 {
          margin-left: 8px;
        }
        .rotate-1000 {
          margin-left: 1px;
        }
        .rotate-3250 {
          margin-left: 2px;
        }
        .rotate-5500 {
          margin-left: 4px;
        }
        .rotate-7750 {
          margin-left: 8px;
        }
      }
    }
    .inner:not(:first-child):not(:last-child){
      max-width: 75px;
      .drum{
        .rotate1000 {
          margin-right: 1px;
        }
        .rotate3250 {
          margin-right: 2px;
        }
        .rotate5500 {
          margin-right: 4px;
        }
        .rotate7750 {
          margin-right: 8px;
        }
        .rotate-1000 {
          margin-right: 1px;
        }
        .rotate-3250 {
          margin-right: 2px;
        }
        .rotate-5500 {
          margin-right: 4px;
        }
        .rotate-7750 {
          margin-right: 8px;
        }
      }
    }
    .inner:last-child {
      max-width: 75px;
      .drum{
        .rotate1000 {
          margin-right: 1px;
        }
        .rotate3250 {
          margin-right: 2px;
        }
        .rotate5500 {
          margin-right: 4px;
        }
        .rotate7750 {
          margin-right: 8px;
        }
        .rotate-1000 {
          margin-right: 1px;
        }
        .rotate-3250 {
          margin-right: 2px;
        }
        .rotate-5500 {
          margin-right: 4px;
        }
        .rotate-7750 {
          margin-right: 8px;
        }
      }
    }
  }
}

.rotate0 {
  opacity: 1;
  font-size: 20px;
  position: relative;
  top: -20px;
}
.rotate1000 {
  opacity: 0.5;
  transform: rotateX(22.5deg) translateZ(82px);
}
.rotate3250 {
  opacity: 0.5;
  transform: rotateX(32.5deg) translateZ(60px);
}
.rotate5500 {
  opacity: 0.3;
  transform: rotateX(55deg) translateZ(35px);
}
.rotate7750 {
  opacity: 0.2;
  transform: rotateX(77.5deg) translateZ(18px);
}
.rotate-1000 {
  opacity: 0.5;
  transform: rotateX(-22.5deg) translateZ(-30px);
}
.rotate-3250 {
  opacity: 0.5;
  transform: rotateX(-32.5deg) translateZ(-20px);
}
.rotate-5500 {
  opacity: 0.3;
  transform: rotateX(-55deg) translateZ(-15px);
}
.rotate-7750 {
  opacity: 0.2;
  transform: rotateX(-77.5deg) translateZ(-22px);
}
.drum {
  height: 100%;
  margin: 5px 0;
  display: block;
}
