@charset "UTF-8";
/*
iOS Camera
----------------------------------------------------------------
*/


// $keyBoard-height:
.keyBoard-wrap {
  height: 0px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2000;
  @include transition-duration(.25s);

  .keyBoard {
    width: 100%;
    position: relative;
    img {
      width: 100%;
    }
  }

  .keyBoard--jp {
    .switch {
      width: 20%;
      height: 25%;
      position: absolute;
      top: 50%;
      @media only screen and (orientation:landscape){
        width: 11.3%;
      }
    }
    .switch--jp {
      @media (min-width: $screen-sm-min) {
        width: 10%;
        height: 17%;
        position: absolute;
        top: 50%;
      }
    }
    .switch--en {
      @media (min-width: $screen-sm-min) {
        width: 10%;
        height: 16.5%;
        position: absolute;
        top: 34.2%;
      }
    }
    .switch--num {
      @media (min-width: $screen-sm-min) {
        width: 10%;
        height: 17%;
        position: absolute;
        top: 18%;
      }
    }
    .toggle {
      width: 10%;
      height: 24%;
      position: absolute;
      bottom: 0;
      @media (min-width: $screen-sm-min) {
        height: 17%;
      }
      @media only screen and (orientation:landscape){
        width: 10%;
        height: 17%;
      }
    }
  }

  .keyBoard--en {
    .switch {
      width: 13%;
      height: 24%;
      bottom: 0%;
      left: 0%;
      position: absolute;
      @media only screen and (orientation:landscape){
        left: 14.5%;
        width: 7%;
      }
      @media (min-width: $screen-sm-min) {
        bottom: 1%;
        left: 0.5%;
        width: 8%;
        height: 20%;
      }
    }
    .toggle {
      bottom: 0%;
      left: 13%;
      width: 13%;
      height: 24%;
      position: absolute;
      @media (min-width: $screen-sm-min) {
        bottom: 1%;
        left: 9%;
        width: 8%;
        height: 20%;
      }
      @media only screen and (orientation:landscape){
        left: 9%;
        width: 8%;
      }
    }
  }

}
