@charset "UTF-8";
/*
Local Font
----------------------------------------------------------------
*/

// $local-font-j-path:               "../fonts/spicaneue/";
$local-font-j-name-regular:       "SpicaNeue-Regular";
$local-font-j-name-bold:          "SpicaNeue-Bold";
$local-font-j-name-regular-p:     "SpicaNeueP-Regular";
$local-font-j-name-bold-p:        "SpicaNeueP-Bold";

// $local-font-e-path:               "lato";
$local-font-e-name:               "lato-regular";
$local-font-e-svg-id:             "latoregular";
$local-font-e-name-light:         "lato-light";
$local-font-e-svg-id-light:       "latolight";
$local-font-e-name-black:         "lato-black";
$local-font-e-svg-id-black:       "latoblack";
$local-font-e-name-bold:          "lato-bold";
$local-font-e-svg-id-bold:        "latobold";
$local-font-e-name-italic:        "lato-italic";
$local-font-e-svg-id-italic:      "latoitalic";
$local-font-e-name-bold-italic:   "lato-bolditalic";
$local-font-e-svg-id-bold-italic: "latobold-italic";

$ios-font-path:                 "../fonts/sanfrancisco/";
$ios-font-name-regular:         "SF-UI-Text-Regular";
$ios-font-name-Bold:            "SF-UI-Text-Bold";

/**
 * Compass Font Face
 *     font-face($name, $font-files, $eot, $weight, $style)
 *      ・$name is required, arbitrary, and what you will use in font stacks.
 *      ・$font-files is required using font-files('relative/location', 'format'). for best results use this order: woff, opentype/truetype, svg
 *      ・$eot is required by IE6~9, and is a relative location of the eot file.
 *      ・$weight shows if the font is bold, defaults to normal.
 *      ・$style defaults to normal, might be also italic.
 */
// Japanese Characters
@include font-face('SpicaNeueP-Regular', font-files('spicaneue/#{$local-font-j-name-regular-p}.woff', 'spicaneue/#{$local-font-j-name-regular-p}.ttf'), false, normal);
@include font-face('SpicaNeueP-Bold', font-files('spicaneue/#{$local-font-j-name-bold-p}.woff', 'spicaneue/#{$local-font-j-name-bold-p}.ttf'), false, bold);


// Alphanumeric Characters
@include font-face('Lato', font-files('lato/#{$local-font-e-name-black}.woff', 'lato/#{$local-font-e-name-black}.ttf'), false, 900);
@include font-face('Lato', font-files('lato/#{$local-font-e-name-bold}.woff', 'lato/#{$local-font-e-name-bold}.ttf'), false, bold);
@include font-face('Lato', font-files('lato/#{$local-font-e-name-italic}.woff', 'lato/#{$local-font-e-name-italic}.ttf'), false, normal, italic);
@include font-face('Lato', font-files('lato/#{$local-font-e-name-bold-italic}.woff', 'lato/#{$local-font-e-name-bold-italic}.ttf'), false, bold, italic);
@include font-face('Lato', font-files('lato/#{$local-font-e-name-light}.woff', 'lato/#{$local-font-e-name-light}.ttf'), false, 300);
@include font-face('Lato', font-files('lato/#{$local-font-e-name}.woff', 'lato/#{$local-font-e-name}.ttf'));

// iOS Characters
@include font-face('SF-UI-Text-Regular', font-files('sanfrancisco/#{$ios-font-name-regular}.woff', 'sanfrancisco/#{$ios-font-name-regular}.otf'), false, normal);
@include font-face('SF-UI-Text-Bold', font-files('sanfrancisco/#{$ios-font-name-Bold}.woff', 'sanfrancisco/#{$ios-font-name-Bold}.otf'), false, bold);

// 游ゴシック
/*
@font-face {
  font-family: 'Yu Gothic';
  font-weight: normal;
  src: local('YuGothic-Medium'), // PostScript Name = localの正式な指定方法
  local('Yu Gothic Medium'),     // PostScript Nameを認識できないChrome用にFull Nameを指定
  local('YuGothic-Regular');     // 游ゴシックMediumが存在しないWindows8.1用
}
@font-face {
  font-family: 'Yu Gothic';
  font-weight: bold;
  src: local('YuGothic-Bold'), // PostScript Name = localの正式な指定方法
  local('Yu Gothic');          // PostScript Nameを認識できないChrome用にFull Nameを指定
}
*/



// @font-face {
//   font-family: 'Lato';
//   src: url($local-font-e-path + $local-font-e-name-black +'.eot');
//   src: url($local-font-e-path + $local-font-e-name-black +'.eot?#iefix') format('embedded-opentype'),
//        url($local-font-e-path + $local-font-e-name-black +'.woff') format('woff'),
//        url($local-font-e-path + $local-font-e-name-black +'.ttf') format('truetype'),
//        url($local-font-e-path + $local-font-e-name-black +'.svg#' + $local-font-e-svg-id-black) format('svg');
//   font-weight: 900;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Lato';
//   src: url($local-font-e-path + $local-font-e-name-bold +'.eot');
//   src: url($local-font-e-path + $local-font-e-name-bold +'.eot?#iefix') format('embedded-opentype'),
//        url($local-font-e-path + $local-font-e-name-bold +'.woff') format('woff'),
//        url($local-font-e-path + $local-font-e-name-bold +'.ttf') format('truetype'),
//        url($local-font-e-path + $local-font-e-name-bold +'.svg#' + $local-font-e-svg-id-bold) format('svg');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Lato';
//   src: url($local-font-e-path + $local-font-e-name-bold-italic +'.eot');
//   src: url($local-font-e-path + $local-font-e-name-bold-italic +'.eot?#iefix') format('embedded-opentype'),
//        url($local-font-e-path + $local-font-e-name-bold-italic +'.woff') format('woff'),
//        url($local-font-e-path + $local-font-e-name-bold-italic +'.ttf') format('truetype'),
//        url($local-font-e-path + $local-font-e-name-bold-italic +'.svg#' + $local-font-e-svg-id-bold-italic) format('svg');
//   font-weight: bold;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Lato';
//   src: url($local-font-e-path + $local-font-e-name-italic +'.eot');
//   src: url($local-font-e-path + $local-font-e-name-italic +'.eot?#iefix') format('embedded-opentype'),
//        url($local-font-e-path + $local-font-e-name-italic +'.woff') format('woff'),
//        url($local-font-e-path + $local-font-e-name-italic +'.ttf') format('truetype'),
//        url($local-font-e-path + $local-font-e-name-italic +'.svg#' + $local-font-e-svg-id-italic) format('svg');
//   font-weight: normal;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Lato';
//   src: url($local-font-e-path + $local-font-e-name-light +'.eot');
//   src: url($local-font-e-path + $local-font-e-name-light +'.eot?#iefix') format('embedded-opentype'),
//        url($local-font-e-path + $local-font-e-name-light +'.woff') format('woff'),
//        url($local-font-e-path + $local-font-e-name-light +'.ttf') format('truetype'),
//        url($local-font-e-path + $local-font-e-name-light +'.svg#' + $local-font-e-svg-id-light) format('svg');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Lato';
//   src: url($local-font-e-path + $local-font-e-name +'.eot');
//   src: url($local-font-e-path + $local-font-e-name +'.eot?#iefix') format('embedded-opentype'),
//        url($local-font-e-path + $local-font-e-name +'.woff') format('woff'),
//        url($local-font-e-path + $local-font-e-name +'.ttf') format('truetype'),
//        url($local-font-e-path + $local-font-e-name +'.svg#' + $local-font-e-svg-id) format('svg');
//   font-weight: normal;
//   font-style: normal;
// }


// @font-face {
// font-family: SF-UI-Text-Regular;
// src: url($ios-font-path + $ios-font-name-regular +'.otf')
//      format("truetype");
// font-weight: normal;
// }

// @font-face {
// font-family: SF-UI-Text-Bold;
// src: url($ios-font-path + $ios-font-name-regular +'.otf')
//      format("truetype");
// font-weight:bold;
// }
