@charset "UTF-8";
/*
Modal
----------------------------------------------------------------
*/



.modal {
	.row {
		margin-left: -$m;
		margin-right: -$m;
	}
	[class^="col-"],
	[class*=" col-"] {
		padding-right: $m;
		padding-left: $m;
	}
	// カラム近接
	[class^="col-"],
	[class*=" col-"] {
		// すべての解像度で適用
		&.col-all-closer {
			padding-left: 6px;
			padding-right: 6px;
		}
		// for tablet (幅768px以上) に適用
		&.col-sm-closer {
			@media (min-width: $screen-sm-min) {
				padding-left: 6px;
				padding-right: 6px;
			}
		}
		// for desktop (幅992px以上) に適用
		&.col-md-closer {
			@media (min-width: $screen-md-min) {
				padding-left: 6px;
				padding-right: 6px;
			}
		}
		// for wide desktop (幅1200px以上) に適用
		&.col-lg-closer {
			@media (min-width: $screen-lg-min) {
				padding-left: 6px;
				padding-right: 6px;
			}
		}
		// 端に来る場合にリセット
		// すべての解像度
		&.col-all-closer--leftend {
			padding-left: $l;
		}
		&.col-all-closer--rightend {
			padding-right: $l;
		}
		// for wide desktop (幅1200px以上) に適用
		@media (min-width: $screen-lg-min) {
			&.col-lg-closer--leftend {
				padding-left: $l;
			}
			&.col-lg-closer--rightend {
				padding-right: $l;
			}
		}
		// for desktop (幅992px以上 - 幅1200px未満) に適用
		@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			&.col-md-closer--leftend {
				padding-left: $l;
			}
			&.col-md-closer--rightend {
				padding-right: $l;
			}
		}
		// for tablet (幅768px以上 - 幅992px未満) に適用
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			&.col-sm-closer--leftend {
				padding-left: $l;
			}
			&.col-sm-closer--rightend {
				padding-right: $l;
			}
		}
		// for phone (幅768px未満) に適用
		@media (max-width: $screen-xs-max) {
			&.col-xs-closer--leftend {
				padding-left: $l;
			}
			&.col-xs-closer--rightend {
				padding-right: $l;
			}
		}
	}
}

.modal-box {
	background: $body-bg;
	@include border-radius($border-radius-base);
	@include box-shadow(rgba($gray-dark, 0.3) 0 4px 16px);
	padding: 0;
	margin-top: $l * 2;
	margin-bottom: $l * 2;
	z-index: 4000;
}

.modal-open {
	.wrapper-page {
		@include filter(blur(8px))
	}
}
.modal-backdrop {
	background-color: $gray;
	&.in {
		@include opacity(.8);
	}
}

.modal-content {
	@include border-radius($border-radius-base);
	@include box-shadow(rgba($gray-dark, 0.3) 0 4px 16px);
	border: none;
}

.modal-header {
	padding: $l+$s;
	border: none;
	& .close {
		margin-top: -2px;
	}
}
.modal-body {
	padding: 0 $l+$s;
}
.modal-footer {
	// text-align: right;
	padding: $l+$s;
	border: none;
}

.modal-header--title {
	font-size: ceil($font-size-base * 1.5);
}
.op8 {
	@include opacity(.8);
}
.op8fade {
	@include opacity(.8);
	@include transition(opacity .5s);
}

@media (min-width: $screen-sm-min) {
	.modal-dialog {
		width: 640px;
		margin: 32px auto;
	}
	.modal-sm {
		width: 300px;
	}
}
@media (min-width: $screen-md-min) {
	.modal-lg {
		width: 960px;
	}
}

.modal-body {
	.section {
		padding: $l+$m 0 $l ;
		&:first-child {
			padding-top: 0;
		}
	}
}
