@charset "UTF-8";
//
// Panel
// --------------------------------------------------


// Base class
.panel {
  margin-bottom: 0;
  background-color: $panel-bg;
  border: 1px solid $panel-default-border;
  border-radius: $border-radius-base;
  @include box-shadow(0 1px 1px rgba(0,0,0,.05));
}

// Panel contents
.panel-body {
  padding: $panel-body-padding;
  @include clearfix();
  // font-size: $component-font-size-base;
}

// Optional heading
.panel-heading {
  padding: $panel-heading-padding;
  // padding-bottom: 0;
  border-bottom: 1px solid transparent;
  @include border-top-radius($border-radius-base);

  > .dropdown .dropdown-toggle {
    color: inherit;
  }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: ceil($component-font-size-base * 1.142); //16px
  color: inherit;

  & > a,
  & > small,
  & > .small,
  & > small > a,
  & > .small > a {
    color: inherit;
  }
}

// Optional footer (stays gray in every modifier class)
.panel-footer {
  padding: $panel-footer-padding $panel-body-padding;
  background-color: $panel-footer-bg;
  border-top: 1px solid transparent;
  @include border-bottom-radius($border-radius-base);
  // font-size: $component-font-size-base;
  &.panel-footer-nobackground {
    background-color: transparent;
    padding-top: 0;
  }
  &.row {
    margin-left: 0;
    margin-right: 0;
  }
}


// List groups in panels
//
// By default, space out list group content from panel headings to account for
// any kind of custom content between the two.

.panel {
  > .list-group {
    margin-bottom: 0;

    .list-group-item {
      border-width: 1px 0;
      border-radius: 0;
      padding: $s $l;
    }

    // Add border top radius for first one
    &:first-child {
      .list-group-item:first-child {
        border-top: 0;
        @include border-top-radius($border-radius-base);
      }
    }
    // Add border bottom radius for last one
    &:last-child {
      .list-group-item:last-child {
        border-bottom: 0;
        @include border-bottom-radius($border-radius-base);
      }
    }
  }
}
// Collapse space between when there's no additional content.
.panel-heading + .list-group {
  .list-group-item:first-child {
    border-top-width: 0;
  }
}
.list-group + .panel-footer {
  border-top-width: 0;
}

// Tables in panels
//
// Place a non-bordered `.table` within a panel (not within a `.panel-body`) and
// watch it go full width.

.panel {
  > .table,
  > .table-responsive > .table,
  > .panel-collapse > .table {
    margin-bottom: 0;
  }
  // Add border top radius for first one
  > .table:first-child,
  > .table-responsive:first-child > .table:first-child {
    @include border-top-radius($border-radius-base);

    > thead:first-child,
    > tbody:first-child {
      > tr:first-child {
        td:first-child,
        th:first-child {
          border-top-left-radius: ($border-radius-base);
        }
        td:last-child,
        th:last-child {
          border-top-right-radius: ($border-radius-base);
        }
      }
    }
  }
  // Add border bottom radius for last one
  > .table:last-child,
  > .table-responsive:last-child > .table:last-child {
    @include border-bottom-radius($border-radius-base);

    > tbody:last-child,
    > tfoot:last-child {
      > tr:last-child {
        td:first-child,
        th:first-child {
          border-bottom-left-radius: ($border-radius-base);
        }
        td:last-child,
        th:last-child {
          border-bottom-right-radius: ($border-radius-base);
        }
      }
    }
  }
  > .panel-body + .table,
  > .panel-body + .table-responsive {
    border-top: 1px solid $table-border-color;
  }
  > .table > tbody:first-child > tr:first-child th,
  > .table > tbody:first-child > tr:first-child td {
    border-top: 0;
  }
  > .table-bordered,
  > .table-responsive > .table-bordered {
    border: 0;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th:first-child,
        > td:first-child {
          border-left: 0;
        }
        > th:last-child,
        > td:last-child {
          border-right: 0;
        }
      }
    }
    > thead,
    > tbody {
      > tr:first-child {
        > td,
        > th {
          border-bottom: 0;
        }
      }
    }
    > tbody,
    > tfoot {
      > tr:last-child {
        > td,
        > th {
          border-bottom: 0;
        }
      }
    }
  }
  > .table-responsive {
    border: 0;
    margin-bottom: 0;
  }
}


// Collapsable panels (aka, accordion)
//
// Wrap a series of panels in `.panel-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.panel-group {
  margin-bottom: $line-height-computed;

  // Tighten up margin so it's only between panels
  .panel {
    margin-bottom: 0;
    border-radius: $border-radius-large;
    + .panel {
      margin-top: $x;
    }
  }

  .panel-heading {
    border-bottom: 0;
    // + .panel-collapse > .panel-body {
    //   border-top: 1px solid $panel-inner-border;
    // }
  }
  .panel-footer {
    border-top: 0;
    // + .panel-collapse .panel-body {
    //   border-bottom: 1px solid $panel-inner-border;
    // }
  }
}


// Contextual variations
.panel-default {
  @include panel-variant($panel-default-border, $panel-default-text, transparent, $panel-default-border);
}
.panel-primary {
  @include panel-variant(mix($brand-primary, white, 50%), $brand-primary, rgba($brand-primary, .2), mix($brand-primary, white, 50%));
}
.panel-success {
  @include panel-variant(mix($brand-success, white, 50%), $brand-success, rgba($brand-success, .2), mix($brand-success, white, 50%));
}
.panel-info {
  @include panel-variant(mix($brand-info, white, 50%), $brand-info, rgba($brand-info, .2), mix($brand-info, white, 50%));
}
.panel-warning {
  @include panel-variant( mix($brand-warning, white, 50%), $brand-warning,rgba($brand-warning, .2), mix($brand-warning, white, 50%));
}
.panel-danger {
  @include panel-variant(mix($brand-danger, white, 50%), $brand-danger, rgba($brand-danger, .2), mix($brand-danger, white, 50%));
}
