@charset "UTF-8";
/*
Progress bar
----------------------------------------------------------------
*/



// Outer container
.progress {
  // background: mix($brand-primary, white, 20%);
  background: $gray-subtle;
  @include border-radius(4px, 4px);
  @include box-shadow(none);
  height: $progress-height;
  margin-bottom: 20px;
  overflow: hidden;
}

// Bar of progress
.progress-bar {
  font-size: $progress-font-size;
  color: $inverse;
  line-height: $progress-height;
  text-align: center;
  background: $brand-primary;
  @include box-shadow(none);
  height: 100%;
  float: left;
  @include single-transition(width, .6s, ease);
}

// Variations
// -------------------------

// .progress-bar-success {
//   background-color: $brand-success;
// }
// .progress-bar-warning {
//   background-color: $brand-warning;
// }
// .progress-bar-danger {
//   background-color: $brand-danger;
// }
// .progress-bar-info {
//   background-color: $brand-info;
// }